code,
pre,
.hljs {
    font-family: $code-font-family;
    font-size: .9em;
    width:104%;
    left:-2%;
    position:relative;
    padding-left:2%;
}

p > code {
    color: $base-font-color;
    background-color: lighten($base-font-color, 70%);
}

pre {
    //allows code blocks to wrap for responsive
    white-space: pre-wrap;
    clear:both;
    code {
        padding-left: 10%;
    }
}

// Modified from https://github.com/isagalaev/highlight.js/blob/master/src/styles/monokai-sublime.css
//These styles rely on highlight.js, which is a script located at assets/js/modules/style-syntax-highlighting-highlightjs.js
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: darken($body-background-color, 5%);
    font-size: .9em;
    font-weight: 400;
    @include MQ(M) {
        font-size: 1em;
        padding-left: 5%;
    }
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: $base-font-color
}

.hljs-strong,
.hljs-emphasis {
    color: $accent-color;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: $red;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: $orange;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: $brand;
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
    color: $base-font-color;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: $red;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: $red;
}
