@font-face {
  font-family: 'fontello';
  src: url('/assets/css/fonts/fontello/fontello.eot?69555926');
  src: url('/assets/css/fonts/fontello/fontello.eot?69555926#iefix') format('embedded-opentype'),
       url('/assets/css/fonts/fontello/fontello.woff2?69555926') format('woff2'),
       url('/assets/css/fonts/fontello/fontello.woff?69555926') format('woff'),
       url('/assets/css/fonts/fontello/fontello.ttf?69555926') format('truetype'),
       url('/assets/css/fonts/fontello/fontello.svg?69555926#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22637187#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  transition:all .3s ease-in-out;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-chrome:before { content: '\e800'; } /* '' */
.icon-ie:before { content: '\e801'; } /* '' */
.icon-firefox:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-github-circled:before,.icon-github:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-youtube-play:before { content: '\e808'; } /* '' */
.icon-camera-alt:before { content: '\e809'; } /* '' */
.icon-share:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-angle-left:before,.icon-previous:before { content: '\e80d'; } /* '' */
.icon-angle-right:before,.icon-next:before { content: '\e80e'; } /* '' */
.icon-linkedin-1:before,.icon-linkedin:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-attach:before { content: '\e812'; } /* '' */
.icon-rw-site-logo:before { content: '\e813'; } /* '' */
.icon-mail:before,.icon-email:before { content: '\e814'; } /* '' */
.icon-terminal:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-flow-branch:before { content: '\e817'; } /* '' */
.icon-flow-tree:before { content: '\e818'; } /* '' */
.icon-flow-cascade:before { content: '\e819'; } /* '' */
.icon-rss:before { content: '\e81a'; } /* '' */