.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    background: #fff;
    padding: 0px;
    border: none;
    width: 100%;
    max-width: 600px;
    fieldset {
        border: none;
        max-width: 400px;
    }
    div {
        position: relative;
        margin-bottom: 1.3em;
        max-width: 400px;
    }
}

textarea#comments {
    border: none;
    font-size: 1em;
    -moz-outline-style: none;
    outline: none!important;
    box-shadow: none!important;
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    margin-top: 1.5em;
    background-color: darken($body-background-color, 4%);
    &:focus ~ .label.comments,
    &:active ~ .label.comments {
        top: -.1em;
        left: -3.2em;
        transform: scale(.6);
        color: $brand;
        font-weight: bold;
    }
}

.label {
    width: 100%;
    position: absolute;
    top: .75em;
    left: .25em;
    pointer-events: none;
    color: #999;
    font-size: 1em;
    font-weight: 400;
    transition: all .15s ease-out;
    &.comments {
        top: 1.5em;
    }
}

input[type="text"],
input[type="submit"],
input[type="email"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

input[type="text"],
input[type="email"] {
    padding: .4em 1em .2em 0em;
    width: 100%;
    max-width: 400px;
    border: 0;
    border-bottom: 1px solid $base-font-color;
    font-size: 1.2em;
    font-family: $form-input-font-family;
    font-weight: 400;
    color: #555;
    outline: none;
    &:focus ~ label,
    &:valid ~ label {
        top: -1.2em;
        left: -3.2em;
        transform: scale(.6);
        color: $brand;
        font-weight: bold;
    }
    &:focus,
    &:valid {
        border-bottom: 3px solid $brand;
    }
}

textarea#comments {
    width: 100%;
}

.button input {
    width: 6em;
    display: block;
    padding: 1em;
    margin-top: 1em;
    border: none;
    font-size: 18px;
    color: $button-submit-text-color;
    background: $button-submit-background-color;
    margin-left: auto;
    margin-right: auto;
    border-radius: $button-border-radius;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    &:focus,
    &:hover,
    &:active {
        outline: none;
        background-color: $brand;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.6);
        transform: scale(1);
    }
    &:hover {
        transform: scale(1.04);
    }
}

.response {
    color: #FFF;
    font-size: 28px;
    width: 450px;
    text-align: center;
    margin-top: 40px;
    transition: opacity 1s;
}
