// article.homepage {
// 	min-height:75vh;
// 	display:block;
// 	margin-bottom:0px;
// 	margin-top:3.5em;
// }
.homepage-footnote {
	position:absolute;
	bottom:0px;
	left:0px;
	color:$base-font-color;
}

.footnote-ref.homepage {
	font-size:16px;
}