main#homepage {
    margin: 0px;
    padding: 0px;
    // filter:grayscale(100%);
}

article.homepage {
    min-width: 100%;
    width: 100vw;
    margin: 0px;
    margin-top: $top-bar-height;
}

h1.title.homepage {
    font-size: 2.2em;
    @include MQ(M) {
        font-size: 3.2em;
    }
    @include MQ(L) {
        font-size: 3.8em;
    }
}

header.homepage-header {
    transition: background-color .3s ease-in-out;
    margin: 0px;
    padding-top: 0px;
    background-color: $homepage-header-bg-color;
    height: 45vh;
    text-align: center;
    margin-bottom: 0em;
    &:hover {
        background-color: $homepage-header-bg-color-hover;
    }
    h1 {
        color: white;
        line-height: 45vh;
        height: 45vh;
        vertical-align: middle;
    }
    button.bigfoot-footnote__button {
        background-color: white!important;
    }
    svg.bigfoot-footnote__button__circle circle {
        fill: $homepage-header-bg-color;
    }
}

.homepage-footnote {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: $base-font-color;
}

.footnote-ref.homepage {
    font-size: 16px;
}

div.homepage-content {
    display: flex;
    flex-wrap: wrap;
    max-width: $XL * 1.2;
    margin-right: auto;
    margin-left: auto;
    a.home-section {
        font-size: .7em;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        color: $base-font-color;
        margin-bottom: .75em;
        font-family: $heading-font-family;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
        @include MQ(M) {
            margin-bottom: 1em;
            width: 42%;
            margin-left: 5.3%;
            margin-right: 0%;
            &:hover {
                box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
                // section > header > div.list-header-image img {
                //     filter: grayscale(0%);
                // }
            }
        }
        @include MQ(L) {
            width: 30%;
            margin-left: 2.5%;
        }
    }
    section {
        div.list-header-image {
            position:relative;
            img {
                transition: all .3s ease-in-out;
                width: 100%;
                height: auto;
                // @include MQ(M) {
                //     filter: grayscale(0%);
                // }
            }
        }
        div.article-info {
            padding: 1em;
        }
        h1.title.home {
            font-size: 1.7em;
        }
        div.description {
            font-size: 1.3em;
            font-family: $base-font-family;
            font-weight: normal;
            @include MQ(M) {
                font-size: 1em;
            }
        }
    }
}

h2.recently-published {
    width:100%;
    margin:0px;
    padding:0px;
    margin:.5em 0em .5em 2.5%;
    text-transform:uppercase;
}

span.section-name {
    position:absolute;
    display:block;
    width:auto;
    z-index:2;
    top:0px;
    left:0px;
    padding:.25em .5em;
    color:white;
    background-color:$brand;
    a.section-link-homepage {
        display:block;
    }
}
