//Navigation Base
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    text-align: left;
}

.nav-wrapper {
    position: relative;
    -ms-overflow-style: none;
    overflow: hidden;
    width: 90%;
    min-height: 100%;
    max-width: $XL;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    &::-webkit-scrollbar {
        display: none;
    }
}

//Main Navigation
nav.site-navigation {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    margin-top: 0em;
    padding-left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    left: 0px;
    padding-right: 16px;
    margin-right: -16px;
    width: $site-menu-width;
    min-height: 100vh;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    ul.nav {
        list-style: none;
        padding-left: 0px;
        width: 100%;
        flex-shrink: 0;
        flex-grow: 2;
        margin-left: auto;
        margin-right: auto;
        li.main-nav-item {
            position: relative;
            vertical-align: middle;
            @include header-transition;
            margin-bottom: 0em;
            width: 100%;
            font-size: 1.5em;
            line-height: 1.9em;
            a {
                font-weight: normal;
                text-align: left;
                cursor: pointer!important;
                text-transform: lowercase;
                font-family: $site-header-font-family;
                min-width: 100%;
                display: block;
                color: lighten($base-font-color, 15%);
                text-transform: uppercase;
                i.icon-search {
                    font-size: .7em;
                }
            }
            ul.blog-categories {
                display: none;
                clear: both;
                list-style: none;
                padding-left: .25em;
                margin-left: 0px;
                &.show-categories {
                    overflow-y: visible;
                    margin-top: 0px;
                    min-height: 4em;
                    max-height: 20em;
                }
                li.blog-category {
                    font-family: $heading-font-family;
                    padding: 0px;
                    line-height: 2em;
                    height: 2em;
                    vertical-align: middle;
                    a {
                        font-size: .8em;
                        transition: all .3s ease-in-out;
                        text-transform: lowercase;
                        @include MQ(M) {
                            font-size: .7em;
                        }
                    }
                    &.see-all {
                        a {
                            font-weight: bold;
                            color: $brand;
                            margin-top: -.5em;
                        }
                    }
                }
            }
        }
    }
}

ul.social {
    margin-top: auto;
    margin-left: 0px;
    padding-left: 0em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
        display: inline;
        a {
            font-size: 1em;
            i.icon-rss {
                font-size: .9em;
                // margin-right: .2em;
            }
        }
    }
}

.navblock {
    width: 100%;
    min-width: 100%;
    margin-top: 20px;
    justify-content: flex-start;
    &.right {
        margin-top: 0px;
        padding-top: 0px;
    }
    @include MQ(M) {
        min-width: 45%;
        max-width: 45%;
        display: block;
    }
}

ul.site-tags {
    display: none;
    @include MQ(M) {
        display: flex;
    }
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 18px;
    align-self: flex-start;
    margin-top: 0px;
    @include MQ(M) {
        font-size: 20px;
    }
    li {
        margin-right: .5em;
        margin-bottom: .4em;
        a {
            font-weight: normal;
            color: $white;
            background-color: $base-font-color;
            padding: {
                left: .4em;
                right: .4em;
            }
            font-family: $tags-font-family;
            &:hover {
                background-color: $brand;
            }
        }
    }
}

a#categories-toggle {
    min-width: 180px;
    // width: 180px;
    display: block;
    text-align: left;
    transition: all .3s ease;
    &:after {
        transition: transform .3s ease;
        content: '';
        display: inline;
        float: right;
        height: .5em;
        width: .5em;
        margin-right: 1.75em;
        margin-top: .66em;
        background-image: url(/assets/images/arrow-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &.categories-open:after {
        transform: translateY(25%) rotate(90deg);
    }
}

//Global/Site Social Buttons in off-canvas header
//Begin List Styles
ul.contents-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-right: -16px;
    padding-right: 16px;
    width: 100%;
    position: relative;
    li {
        position: relative;
        a {
            cursor: pointer;
            display: block;
            height: auto;
            text-decoration: none;
            box-shadow: none;
            border-bottom: 1px dashed lighten($base-font-color, 25%);
            section {
                height: auto;
                h1.title-list {
                    color: $base-font-color;
                    margin-bottom: .3em;
                    margin-top: 1em;
                }
                p {
                    font-weight: normal;
                    color: $base-font-color;
                }
                time {
                    position: absolute;
                    top: -.75em;
                    right: 0px;
                    font-size: .7em;
                    color: $base-font-color;
                    font-weight: normal;
                    font-family: $heading-font-family;
                }
                &:hover {
                    color: $anchor-color;
                    margin-bottom: -1px;
                    border-bottom: 1px solid $anchor-color;
                    box-shadow: none;
                    h1 {
                        color: $anchor-color;
                    }
                    p {
                        color: $anchor-color;
                    }
                    time {
                        color: $anchor-color;
                    }
                    &::after {
                        border: $anchor-color 1px solid;
                    }
                }
            }
            &:after {
                display: block;
                content: "";
                width: 7px;
                height: 7px;
                border: lighten($base-font-color, 20%) 1px solid;
                position: absolute;
                bottom: -5px;
                left: 50%;
                margin-left: -5px;
                background: $body-background-color;
                border-radius: 100%;
                box-shadow: #FFF 0 0 0 5px;
                &:hover {
                    border: $anchor-color 1px solid;
                }
            }
            &:hover {
                box-shadow: none;
            }
        }
    }
}

ul.terms {
    padding-left: 0px;
    list-style: none;
    margin-left: 0px;
    li {
        border-bottom: none;
        margin-bottom: .9em;
        a {
            border: none;
            text-decoration: none;
            font-size: 1.3em;
            color: $base-font-color;
            &:hover {
                color: $white;
                background-color: $brand;
            }
        }
    }
}

ul.tags {
    list-style: none;
    display: flex;
    margin: 0px;
    padding-left: 0px;
    width: auto;
    justify-content: center;
    position: relative;
    clear: both;
    background-color: $body-background-color;
    span {
        font-family: $tags-font-family;
    }
    li {
        display: inline;
        margin-left: .3em;
        a {
            font-weight: normal;
            font-family: $tags-font-family;
            padding: 0px .3em .1em .3em;
            border: 1px solid $base-font-color;
            font-size: .8em;
            color: $base-font-color;
            &:hover {
                background-color: $base-font-color;
                color: $white;
            }
        }
    }
}

article.content {
    ul {
        padding-left: 0px;
        list-style-position: inside;
        margin-left: 0px;
        list-style-type: disc;
        li {
            ul {
                padding-left: .5em;
                list-style-type: circle;
            }
        }
    }
    li {
        text-indent: -1em;
        padding-left: 1em;
    }
}

article.content ul li ul li ul {
    padding-left: 1em;
    list-style-type: square;
}

.footnotes ol {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
    .footnote-return {
        font-size: .75em;
        position: relative;
        padding-bottom: 0px;
        vertical-align: super;
    }
}
