//Navigation Base
nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    text-align: right;
}

.nav-wrapper {
    position:relative;
}
//Main Navigation
nav.site-navigation {
    z-index: 99;
    margin-top: 3.5em;
    flex-grow: 1;
    overflow-x:hidden;
    overflow-y: scroll;
    position:absolute;
    left:0;
    &::-webkit-scrollbar {
        display:none;
    }
    ul {
        list-style: none;
        margin-left: .2em;
        padding-left: 0px;
        li {
            margin-bottom: .75em;
            a {
                font-weight: normal;
                text-align: right;
                cursor: pointer!important;
                text-transform: lowercase;
                font-family: $site-header-font-family;
                z-index: 9999;
                font-size: 1.2em;
                color: lighten($base-font-color, 15%);
                i.icon-search {
                    font-size: .7em;
                }
            }
            &:first-child {
                a {
                    font-weight: 700;
                    font-size: .6em;
                    text-transform: uppercase;
                }
            }
            //styling for colophon link
            &:last-child,
            &.colophon {
                margin-top: 20vh;
                margin-bottom: 0px;
                a {
                    text-transform: uppercase;
                    font-size: .75em;
                }
            }
        }
    }
    ul.social {
        display: block;
        margin-top: 1em;
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
        padding-left: 0px;
        float: left;
        li {
            display: inline;
            font-size: .9em;
            a {
                // font-size: 1em;
                i.icon-twitter {
                    font-size: 1.6em;
                }
                i.icon-github {
                    font-size: .9em;
                }
                i.icon-linkedin {
                    font-size: .9em;
                }
                i.icon-rss {
                    font-size: 1.1em;
                    margin-right: .2em;
                }
            }
        }
    }
}

//Global/Site Social Buttons in off-canvas header
//Begin List Styles
ul.contents-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    position: relative;
    li {
        position: relative;
        a {
            cursor: pointer;
            display: block;
            height: auto;
            border-bottom: 1px dashed lighten($base-font-color, 25%);
            article {
                h1.title-list {
                    color: $base-font-color;
                    margin-bottom: .3em;
                    margin-top: 1em;
                }
                p {
                    font-weight: normal;
                    color: $base-font-color;
                }
                time {
                    position: absolute;
                    top: -.75em;
                    right: 0px;
                    font-size: .7em;
                    color: $base-font-color;
                    font-weight: normal;
                    font-family: $heading-font-family;
                }
                &:hover {
                    color: $anchor-color;
                    margin-bottom: -1px;
                    border-bottom: 1px solid $anchor-color;
                    box-shadow: none;
                    h1 {
                        color: $anchor-color;
                    }
                    p {
                        color: $anchor-color;
                    }
                    time {
                        color: $anchor-color;
                    }
                    &::after {
                        border: $anchor-color 1px solid;
                    }
                }
            }
            &:after {
                display: block;
                content: "";
                width: 7px;
                height: 7px;
                border: lighten($base-font-color, 20%) 1px solid;
                position: absolute;
                bottom: -5px;
                left: 50%;
                margin-left: -5px;
                background: $body-background-color;
                border-radius: 100%;
                box-shadow: #FFF 0 0 0 5px;
                &:hover {
                    border: $anchor-color 1px solid;
                }
            }
        }
    }
    &.terms {
        li {
            border-bottom: none;
            margin-bottom: .9em;
            a {
                border: none;
                text-decoration: none;
                font-size: 1.3em;
                color: $base-font-color;
                &:hover {
                    color: $white;
                    background-color: $brand;
                }
            }
        }
    }
}

ul.tags {
    list-style: none;
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    width: auto;
    justify-content: center;
    margin-bottom: 1.5em; //margin for sticky social share footer
    span {
        font-family: $tags-font-family;
    }
    li {
        display: inline;
        margin-left: .3em;
        a {
            font-weight: normal;
            font-family: $tags-font-family;
            padding: 0px .3em .1em .3em;
            border: 1px solid $base-font-color;
            font-size: .8em;
            color: $base-font-color;
            &:hover {
                background-color: $base-font-color;
                color: $white;
            }
        }
    }
}

article.content {
    ul {
        padding-left: 0px;
        list-style-position: inside;
        margin-left: 0px;
        list-style-type: disc;
        li {
            ul {
                padding-left: .5em;
                list-style-type: circle;
            }
        }
    }
    li {
        text-indent: -1em;
        padding-left: 1em;
    }
}

article.content ul li ul li ul {
    padding-left: 1em;
    list-style-type: square;
}

.footnotes ol {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
    .footnote-return {
        font-size: .75em;
        position: relative;
        padding-bottom: 0px;
        vertical-align: super;
    }
}
