@mixin hardware-accelerate {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@mixin header-transition {
	transition-property: all;
  transition-duration: 0.7s;
  // transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
  transition-timing-function: cubic-bezier(1,.09,.87,.53);
}