@mixin hardware-accelerate {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@mixin header-transition {
	transition-property: transform;
  transition-duration: $site-header-trans-time;
  // transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
  // transition-timing-function: cubic-bezier(1,.09,.87,.53);
  transition-timing-function: cubic-bezier(.91,.01,.6,.99);
}

@mixin main-and-body-transition {
	transition-property:transform;
	transition-duration: $body-trans-time;
	// transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}