article#resume {
    div.content-wrapper {
        h2 {
            font-size: 1.5em;
            text-transform: uppercase;
            margin-bottom: 1em;
            font-weight: bold;
        }
        h2#objective {
            margin-top: .5em;
        }
        h3 {
            border-top: 2px solid $base-font-color;
            border-bottom: 2px solid $base-font-color;
            font-size: 1.1em;
            text-transform: uppercase;
            margin-bottom: 0px;
            margin-top: 0em;
            color: $base-font-color;
            + p {
                margin-top: 1em;
            }
        }
        p:not(:nth-of-type(1)) {
            font-size: .9em;
        }
        time {
            font-size: .8em;
            text-transform: uppercase;
        }
        header {
            margin-bottom: 0px;
        }
        header > h1 {
            margin-left: -.0625em;
        }
        header > div.subtitle {
            margin-bottom: .2em;
            a {
                box-shadow: none;
                &:hover {
                    color: $brand;
                    cursor: pointer;
                }
            }
        }
        ul {
            padding-left: 1em;
            li {
                margin-left: 0px;
                margin-bottom: .3em;
                @include MQ(M) {
                    font-size: .9em;
                }
                ul li {
                    font-size: 1em;
                }
            }
        }
        h4 {
            margin-top: .5em;
            font-size: 1.1em;
        }
    }
    strong > a {
        font-weight: bold;
    }
}

main#resume-main {
    @include MQ(L) {
        aside#toc,
        aside.toc,
        div.toc-subtitle {
            opacity: 1!important;
            transform: scale(1);
        }
    }
}

.resume-contact {
    display: block;
    // position:absolute;
    // right:0px;
    // top:1em;
    width: auto;
    a.resume {
        display: inline;
        font-family: $heading-font-family;
        font-size: .8em;
        width: 6em;
        box-shadow: none;
        margin-right: .5em;
        &:hover {
            color: $brand;
        }
    }
}

span.work-experience-time {
    float: right;
    text-align: right;
    font-size: .5em;
    text-transform: uppercase;
    position: relative;
    padding-top: .45em;
    display: inline-block;
    @include MQ(M) {
        font-size: .7em;
        padding-top: .25em;
    }
}

div.employer {
    font-family: $heading-font-family;
    color: lighten($base-font-color, 15%);
    text-transform: uppercase;
    font-size: .8em;
    line-height: 1.1;
    margin-top: .2em;
}
