.bumble-block {
    header {
        background-color: $bumble;
        text-align: center;
        height:auto;
        h3.match-name {
            color: white;
            font-size: .7em;
            font-family: "Helvetica Neue", arial, sans-serif;
            text-transform: uppercase;
            vertical-align: middle;
            height: 1.6em;
            line-height: 1.6em;
            img {
            	display:inline;
            	border-radius:50%;
            	margin-right:.5em;
            }
        }
    }
}
