div.assumptions {
    border: 1px solid $assumptions-border-color;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    height: auto;
    display: block;
    cursor: pointer;
    > header {
        display: block;
        background-color: $assumptions-header-background-color;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        transform: translateY(0%);
        h2 {
            color: $assumptions-header-font-color;
            padding-left: .5em;
            margin-top: 0px;
            font-size: 1.2em;
            margin-bottom: 0px;
            i.icon-next {
                transition: transform .3s ease-in-out;
                float: right;
                margin-right: .25em;
                &.open-assumptions {
                    transform: rotate(90deg);
                }
            }
        }
    }
    ul {
        display:none;
        margin-left:1em;
        li {
            padding-left: 0px;
            margin-left: 0px;
            text-indent: 0px;
            font-size: .9em;
        }
    }
}
