header.site-header {
    @include header-transition;
    width: $site-menu-width;
    position: fixed;
    display: block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
    min-height: 100%;
    min-height: 100vh;
    background-color: $site-header-background-color;
    border-left: 1px solid #f0f0f0;
    z-index: 3;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    transform:translateX(101%);
    a {
        color: $base-font-color;
    }
    &.open {
        @include transform(translateX(0%));
        z-index: 99999;
        right: -16px;
    }
}

header.site-header {
    a.site-logo.overlay {
        transition:.3s;
        opacity:0;
        color: $white;
        background-color: $brand;
        z-index: 9999;
        span.site-logo-title {
            margin-left: 2.5em;
            color: $base-font-color;
            font-weight: normal;
        }
    }
    &.open {
        a.site-logo.overlay {
            background-color: $brand;
        }
    }
}

// fadeInSlow for site logo in header overlay
.animatedSlow {
    transition: opacity .3s ease;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@keyframes fadeInSlow {
    0% {
        opacity: 0
    }
    45% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fadeInSlow {
    -webkit-animation-name: fadeInSlow;
    animation-name: fadeInSlow;
}

#close-menu {
    position: absolute;
    right: $top-bar-height * .15;
    top: 0em;
    font-weight: normal;
    font-size: $top-bar-height * .7;
    z-index: 9999;
}

//headroom.js transitions
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
