.copyright {
    width: 100%;
    display: block;
    font-size: 12px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    position: relative;
    bottom: 1em;
    right: 0px;
    font-family: $site-header-font-family;
}


.kudos-block + .copyright {
    margin-bottom:4.5em;
}
