header.site-header {
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
    width: $site-menu-width;
    position: fixed;
    display:block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
    min-height: 100%;
    min-height: 100vh;
    background-color: $site-header-background-color;
    border-left: 1px solid #f0f0f0;
    z-index: 3;
    overflow-y:scroll;
    @include transform(translateX(101%));
    a {
        color: #333333;
    }
    &.open {
        @include transform(translateX(0%));
        z-index: 99999;
    }
}

#close-menu {
    position: absolute;
    top: .1em;
    right: .1em;
    font-size: 2em;
}

//headroom.js transitions
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

a.section-title {
    width: 20%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 40%;
    text-align: center;
    font-family: $site-header-font-family;
    height: 2em;
    line-height: 2em;
    vertical-align:center;
    font-size:.8em;
    margin-top: .75em;
    border: 1px solid $base-font-color;
    box-shadow: none;
    color: $base-font-color;
    &:hover {
        box-shadow: none;
        color: $base-font-color;
        background-color: $base-font-color;
        color: $body-background-color;
    }
    h2 {
        margin-bottom: 0px;
        padding-right:.5em;
        padding-left:.5em;
    }
}

.copyright {
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    display:block;
    font-size: .6em;
    text-align: center;
    position: relative;
    margin-top:1em;
    margin-bottom:1em;
    font-family:$site-header-font-family;
}