aside.toc {
    transition: all .3s ease-in-out;
    border: 1px solid black;
    position: fixed;
    bottom: 1.75em;
    right: 1em;
    width: 75%;
    max-width: 400px;
    z-index: 99;
    padding: 0px;
    margin: 0px;
    visibility: hidden;
    overflow: hidden;
    transform: scale(0);
    transform-origin: 100% 100%;
    &.open-toc {
        transform: scale(1);
        visibility: visible;
        z-index: 100;
    }
    header.toc-header {
        padding: {
            top: .5em;
            bottom: .5em;
        }
        background-color:$body-background-color;
    }
    h4.toc-title {
        color: $base-font-color;
        font-weight: bold;
        padding-left: 20px;
        weight: 700;
        margin-bottom: 0px;
        background-color: $body-background-color;
    }
    div.toc-subtitle {
        font-family: $heading-font-family;
        font-size: .8em;
        line-height: 1.2;
        background-color: $body-background-color;
        margin-bottom: 0px;
        padding-left: 20px;
    }
    nav#TableOfContents {
        background-color: black;
        font-family: $heading-font-family;
        padding: 0px;
        margin: 0px;
        ul {
            margin-left: 0px;
            padding-left: 1em;
            display: block;
            li {
                list-style: none;
                margin-left: 0px;
                padding-left: 0px;
                margin-bottom: .3em;
                ul {
                    margin-bottom: 1.7em;
                    li {
                        list-style: disc;
                        color: $white;
                        line-height: 1.2em;
                        height: 1.2em;
                        ul {
                            display: none;
                        }
                    }
                }
            }
            a {
                color: $white;
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }
}

@include MQ(L) {
    aside.toc {
        visibility: visible;
        overflow-y: visible;
        display: block;
        background-color: transparent;
        transition: opacity .3 ease-in-out;
        transform: none;
        height: auto;
        max-height: auto;
        top: 35vh;
        right: .25em;
        min-width: 130px;
        max-width: 130px;
        border-width: 0px;
        z-index: 100;
        opacity: 0;
        &.toc-notTop,
        &.toc-unpinned {
            opacity: 1;
            transform: scale(1);
            z-index: 99;
        }
        header.toc-header {
            display: none;
        }
        nav#TableOfContents {
            border-radius: 0em;
            background-color: rgba(255, 255, 255, 0.8);
            margin-top: 0px;
            display: block;
            min-width: 130px;
            max-width: 130px;
            padding: .75em;
            height: auto;
            margin: 0px;
            ul {
                display: block;
                margin-left: 0px;
                padding-left: 0px;
                li {
                    min-height: 100%;
                    ul {
                        li {
                            font-size: .7em;
                            display: block;
                            height: auto;
                            a {
                                color: $base-font-color;
                            }
                        }
                    }
                }
            }
        }
    }
    aside.toc-notTop,
    aside.toc-unpinned {
        opacity: 1;
        transform: scale(1);
        z-index: 99;
    }
}

@include MQ(XL) {
    aside.toc {
        min-width: 150px;
        max-width: 150px;
        right: 1.5em;
    }
}

aside#toc.toc.headroom + #toggle-toc {
    opacity: 1;
    z-index: 9999;
}

#toggle-toc {
    position: fixed;
    background-color: #000000;
    opacity: 0;
    bottom: 1.75em;
    right: 1em;
    line-height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    padding-bottom: .4em;
    padding-top: .1em;
    width:2em;
    height:2em;
    z-index: -1;
    color: $white;
    border-radius: 15%;
    &.tog-notTop,
    &.tog-unpinned {}
    &.open-toc {
        color: #000000;
        &:after {
            content: '\e827';
            font-family: 'Fontello';
            color: $white;
            font-weight: 400;
            padding-right: 1em;
            padding-top: .3em;
            font-size: .8em;
        }
    }
    @include MQ(L) {
        display: none;
    }
}
