.top-bar {
    z-index: 9999;
    display: block;
    position: fixed;
    background-color: $top-bar-background-color;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: $top-bar-height;
    border-bottom: 1.5px solid #f0f0f0;
}

a.site-logo {
    position: absolute;
    top: .5em;
    left: .5em;
    height:2em;
    width:2em;
    border-radius: 50%;
    cursor: pointer;
    color: $site-logo-color;
    i.icon-rw-site-logo {
        line-height:2em;
        font-size:1em;
        vertical-align:middle;
        text-indent:-.1em;
    }
    &:hover {
        color: $white;
        background-color: $brand;
        border: 1px solid $brand;
    }
}

#site-header-toggle {
    position: absolute;
    top: .25em;
    right: .5em;
    font-weight: normal;
    font-size: 1.6em;
    color: $base-font-color;
    background-color: $top-bar-background-color;
    font-family:$base-font-family;
    z-index: 9999;
    cursor: pointer;
    @include MQ(M) {
        z-index: 9999;
    }
}

.next-and-previous-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 3em;
    align-items: center;
    justify-content: center;
    .next-link,
    .prev-link {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        font-family: $heading-font-family;
        text-align: center;
        min-height: 3em;
        align-items: center;
        color: $base-font-color;
        box-shadow: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
        line-height: 1;
        width: 20%;
        max-width: 40%;
        font-size: .6em;
        margin-top: .5em;
        text-transform:uppercase;
        i.icon-previous,i.icon-next {
            font-size:1.4em;
            margin-top:.4em;
            margin-bottom:.4em;
        }
        &:hover {
            box-shadow: none;
            color: $base-font-color;
        }
    }
    .prev-link {
        position: absolute;
        left: 18%;
        top: .25em;
    }
    .next-link {
        position: absolute;
        right: 18%;
        top: .25em;
    }
}

a.section-title {
    width: 20%;
    position: absolute;
    display: block;
    left: 40%;
    top: 0em;
    text-align: center;
    font-family: $site-header-font-family;
    height: 2em;
    line-height: 2em;
    vertical-align:middle;
    font-size:.8em;
    margin-top: .75em;
    border: 1px solid $base-font-color;
    box-shadow: none;
    color: $base-font-color;
    &:hover {
        box-shadow: none;
        color: $base-font-color;
        background-color: $base-font-color;
        color: $body-background-color;
    }
    h2 {
        margin-bottom: 0px;
        padding-right:.5em;
        padding-left:.5em;
    }
}