h1.title {
    font-size: 2.5em;
    margin-top: .3em;
    margin-bottom: 6px;
    font-weight: 600;
    line-height: 1;
    color: $h1-page-heading-font-color;
    margin-left: -0.0325em;
    @include MQ(L) {
        font-size: 3.5em;
    }
    @include MQ(XL) {
        font-size: 3.7em;
    }
    &.homepage {
        font-size: 2.9em;
        font-weight: 400;
        width: auto;
        max-width: 60%;
        display: inline;
        @include MQ(M) {
            font-size: 3.8em;
        }
    }
    &.blog {
        color: $white;
        text-transform: none;
    }
    &.tags {
        text-transform: lowercase;
    }
    &.categories,
    &.tags {
        margin-left: 4px;
        span {
            font-size: .65em;
        }
    }
}

.subtitle {
    font-size: .9em;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-family: $heading-font-family;
}

h2,
h3,
h1.title-list {
    margin-bottom: .3em;
    margin-top: 1em;
    color: lighten($h1-page-heading-font-color, 20%);
    font-family: $heading-font-family;
    font-weight: 500;
}

h2,
h1.title-list {
    font-size: 1.8em;
}

h3 {
    font-size: 1.1em;
    color: lighten($base-font-color, 30%);
    padding-bottom: .1em;
    margin-bottom: .3em;
    text-transform: uppercase;
}

span.dropcap {
    margin-right: .1em;
    color: $dropcap-color;
    font-weight: $dropcap-font-weight;
    font-family: $dropcap-font-family;
    text-shadow: $dropcap-box-shadow;
}

article.content.blog > div.content-wrapper > p:nth-child(2) > span.dropcap {
    display: inline!important;
    position:relative!important;
    font-size: 1em!important;
    color: $base-font-color!important;
    height:inherit!important;
    font-family:inherit!important;
    padding:auto!important;
    margin:auto!important;
    font-size:1em!important;
    float:none!important;
    line-height:1em!important;
}

sup {
    font-size: .3em;
    padding-top: 0px;
    transform: translateY(-10px);
    margin-top: -4em;
    font-weight: 100;
    font-family: $base-font-family;
    vertical-align: super;
    &.footnote-ref {
        font-size: .6em;
        margin-right: .2em;
    }
}



small.taxonomy {
    font-size: .3em;
}
