h1.title {
    font-size: 10vw;
    margin-top: .3em;
    margin-bottom: 6px;
    font-weight: 600;
    line-height: 1;
    color: $h1-page-heading-font-color;
    // @include MQ(M) {
    //     font-size: 3.3em;
    // }
    @include MQ(L) {
        font-size: 3.7em;

    }
    &.homepage {
        font-weight: 400;
    }
    &.blog {
        color:$white;
    }
}

.subtitle {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-family: $heading-font-family;
}

h3,
h4,
h1.title-list {
    margin-bottom: .3em;
    margin-top: 1em;
    color: lighten($h1-page-heading-font-color, 20%);
    font-family: $heading-font-family;
    font-weight: 500;
}

h3,
h1.title-list {
    font-size: 1.8em;
    ;
}

h4 {
    font-size: 1.1em;
    color: lighten($base-font-color, 30%);
    padding-bottom: .1em;
    margin-bottom: .3em;
    text-transform: uppercase;
}

span.dropcap {
    margin-right: .1em;
    padding-bottom: -.2em;
    margin-bottom: -.2em;
    margin-top: .15em!important;
    color: $accent-color;
    font-family: $dropcap-font-family;
}

blockquote {
    display: block;
    background: $blockquote-background-color;
    padding: 2em .5em 15px 2em;
    margin: 0 0 1em 0;
    position: relative;
    font-family: $blockquote-font-family;
    font-size: $blockquote-font-size;
    color: $base-font-color;
    border-left: 3px solid $blockquote-border-color;
    border-right: 1px solid $blockquote-border-color;
    p {
        line-height: 1.4;
        font-style: $blockquote-font-style;
    }
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 2.5em;
    font-weight: regular;
    color: $blockquote-border-color;
    position: absolute;
    left: 10px;
    top: 10px;
}

sup {
    font-size: .3em;
    padding-top: 0px;
    transform: translateY(-10px);
    margin-top: -4em;
    font-weight: 100;
    font-family: $base-font-family;
    vertical-align: super;
    &.footnote-ref {
        font-size: .6em;
        margin-right: .2em;
    }
}

blockquote::after {
    /*Reset to make sure*/
    content: "";
}

blockquote {
    a {
        border-bottom: none;
        color: $base-font-color;
        font-weight: 600;
        font-size: .8em;
    }
    cite.blockquote-citation {
        display: block;
        width: 100%;
        clear: both;
        font-style: normal;
        text-align: left;
        margin-bottom: 0px;
        margin-bottom: .3em;
        padding-bottom: 0px;
        a {
            border-bottom: none;
            color: $base-font-color!important;
            font-weight: 600;
            font-size: .8em;
            &:hover {
                color: $body-background-color!important;
            }
        }
    }
}
