//From the brillian Chris Coyier here: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videoWrapper {
    transition: all .3s ease-in-out;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    clear: both;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        filter: grayscale(0%);
        cursor: pointer;
    }
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-thumbnail {
    transition: all .3s ease-in-out;
    width: 100%;
    min-height: 100%;
    clear: both;
    display: block;
    z-index: 9999;
    padding-bottom: 56.25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    cursor: pointer;
    margin-top: -1em;
    &:before {
        content: '\e80c';
        font-family: "fontello";
        position: absolute;
        font-size: 2.8em;
        left: 42%;
        bottom: 33%;
        color: #bb0000;
        border-radius: 30px;
        @include MQ(M) {
            font-size: 3.2em;
            bottom: 30%;
        }
    }
    &:hover {
        filter: grayscale(0%);
    }
}

.videoWrapper:after {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.videoWrapper {
    + h3,
    + h4,
    + p {
        margin-top: 1em;
    }
}

.videoWrapper + h3 {
    margin-bottom: 0px;
    margin-top: .5em;
}
