<footer class="content-footer">
    {% if page.tags %} {% assign tags = page.tags | sort %}
    <ul class="tags">
        {% for tag in tags %}
        <li><a href="{{site.baseurl}}/tags/#{{tag | slugify}}" class="tag">{{tag}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <section class="prev-and-next">
        {% if page.collection == "articles" %} 
            {% assign contents = site.articles | sort: 'publishdate' %}
            {% assign collection_name = page.collection %}
            {% capture stringLength %}{{ collection_name | size | minus: 1 }}{% endcapture %}
            {% assign collection_name = collection_name | truncate: stringLength, '' %}
        {% elsif page.collection == "tutorials" %}
            {% assign contents = site.tutorials | sort: 'series_no' %}
        {% assign contents = contents | sort: 'series' %}
            {% assign collection_name = 'tutorials' %} 
        {% endif %} 
        {% assign collection_listpage = page.collection | prepend: '/' | append: '/' %}
        
        {% for content in contents %}
            {% if content.title == page.title %}
                {% unless forloop.first %} 
                    {% assign prevurl = prev.url %} 
                    {% assign prevtitle = prev.title %}
                    {% assign prevdate = prev.publishdate | date: '%B %d, %Y' %}
                    {% assign prevseries = prev.series %}
                    {% assign prevnum = prev.series_no %} 
                {% endunless %} 
                {% unless forloop.last %}
                    {% assign next = contents[forloop.index] %} 
                    {% assign nexturl = next.url %} 
                    {% assign nexttitle = next.title %}
                    {% assign nextdate = next.publishdate | date: '%B %d, %Y' %}
                    {% assign nextseries = next.series %}
                    {% assign nextnum = next.series_no %} 
                {% endunless %} 
            {% endif %} 
            {% assign prev = content %}
        {% endfor %} 
        {% unless prevurl == collection_listpage or prevurl == nil %}
        <a href="{{prevurl}}" class="direction previous">
            {% include icons/previous-icon.svg %}
            <div class="direction-content">
                <div class="direction-text">
                    <div class="direction-inner">
                        {% if page.collection == 'articles' %}
                        <div class="direction-heading">PREVIOUS {{collection_name | upcase }}</div>
                        {% elsif page.collection == 'tutorials' %}
                        <div class="direction-heading">PREV: {{prevseries | upcase }} PART {{prevnum}}</div>    
                        {% endif %}
                        {{prevtitle}}
                        <div class="direction-date">{{prevdate}}</div>
                    </div>
                </div>
            </div>
        </a>
        {% endunless %}
        
        {% if nexturl != nil %}
        <a href="{{nexturl}}" class="direction next">
            {% include icons/next-icon.svg %}
            <div class="direction-content">
                <div class="direction-text">
                    <div class="direction-inner">
                        {% if page.collection == 'articles' %}
                        <div class="direction-heading">NEXT {{collection_name | upcase }}</div>
                        {% elsif page.collection == 'tutorials' %}
                        <div class="direction-heading">NEXT: {{nextseries | upcase }} PART {{nextnum}}</div>
                        {% endif %}
                        {{nexttitle}}
                        <div class="direction-date">{{nextdate}}</div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
    </section>
    {% if nexturl != nil %}
    <link rel="prefetch" href="{{site.url}}{{nexturl}}">
    <link rel="prerender" href="{{site.url}}{{nexturl}}">
    {% else %}
    <link rel="prefetch" href="{{site.url}}{{prevurl}}">
    <link rel="prerender" href="{{site.url}}{{prevurl}}">
    {% endif %}

</footer>
