<header>
    <section class="site-title-container animated">
        <a href="/" class="site-title">{{site.title}}</a>
        <h5 class="site-tagline">{{site.tagline}}<sup>1</sup></h5>
    </section>
    <nav class="global-navigation" role="navigation">
        <ul>
            {% assign activePage = page.url | remove_first: '/' | remove: "/index.html" | downcase %}
            {% for link in site.main_navigation_links %}
            <li><a href="{{site.url}}/{{link.url}}" {% if link.url contains activePage or page.url contains link.url %}class="active"{% elsif link.url.size == nil and page.url == "/index.html" %}class="active"{% endif %}>{{link.text}}</a></li>
            {% endfor %}
            <li><a href="#" id="search-overlay-toggle" title="Search {{site.title}}"><i class="fa fa-search"></i></a></li>            
        </ul>    
    </nav>
    <form id="search-form" class="search-form">
        <input type="text" name="q" class="search" id="tipue_search_input" autocomplete="off" placeholder="Search..." required>
        <a href="#" id="close-search"><i class="fa fa-times-circle"></i></a>
        <div id="tipue_search_content">
        </div>
    </form>
    <a href="#" id="mobile-toggle"><span></span></a>
</header>

<!-- 
{% unless page.url contains "search" %}
            <li id="search">
                <form action="{{site.url}}/search.html" id="search-form">
                        <input type="text" name="q" class="search" id="tipue_search_input" autocomplete="off" placeholder="Search..." required>
                </form>    
            </li>
{% endunless %} -->
