<header>
    <section class="site-title-container animated">
        <a href="/" class="site-title">{{site.title}}</a>
        <h5 class="site-tagline">{{site.tagline}}<sup>1</sup></h5>
    </section>
    <nav class="global-navigation" role="navigation">
        <ul>
            {% for link in site.main_navigation_links %}
            {% assign activePage = page.url | remove: "/index.html" %}
            <li><a href="{{site.url}}/{{link.url}}" {% if link.url == activePage %}class="active"{% endif %}>{{link.text}}</a></li>
            {% endfor %}
            <li>
                <form action="{{site.url}}/search.html">
                    <input type="text" name="q" id="tipue_search_input" autocomplete="off" placeholder="Search..." required>
                </form>
            </li>
        </ul>
    
    </nav>
    
    <a href="#" id="mobile-toggle"><span></span></a>
</header>
