@import 'bourbon/bourbon';
@import 'variables';
@import 'reset';
@import 'mixins';
@import 'layout';
@import 'fonts';
@import 'monokai_sublime';
@import 'search';
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $heading-font-weight;
    color: $heading-font-color;
}

#header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    width: 100vw;
    position: relative;
    background: $header-background;
    background-repeat: $header-background-repeat;
    color: $header-link-color;
    z-index: 1;
    &.headroom {
        transition: -webkit-transform 200ms linear;
        transition: transform 200ms linear;
        position: fixed;
        &.headroom--pinned {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
        &.headroom--unpinned {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            @include MQ(M) {
                transform: translateY(0%);
            }
        }
    }
    @include MQ(M) {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: fixed;
        width: 300px;
        height: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

.site-title-container {
    @include display(flex);
    @include flex-wrap(wrap);
    text-align: left;
    transition: all .4s ease-in-out;
    color: $site-title-font-color;
    max-width: $content-max-width;
    @include MQ(M) {
        margin-left: auto;
        margin-right: auto;
        width: 220px;
    }
    .site-title {
        width: 100%;
        text-align: center;
        #site-logo {
            min-height: 26px;
            max-height: 26px;
            min-width: 50px;
            margin: 15px 0px 15px 15px;
            @include MQ(M) {
                min-height: 50px;
                max-height: 50px;
                min-width: 100px;
            }
            fill: $header-link-color;
            .bar {
                stroke: $header-link-color;
                stroke-width: 10;
                stroke-miterlimit: 10;
            }
        }
        @include MQ(M) {
            margin-top: 80px;
            margin-bottom: 50px;
        }
    }
}

nav.global-navigation {
    @include hardware-accelerate;
    @include transition(.4s);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    font-family: $global-navigation-font-family;
    width: 100vw;
    height: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $global-navigation-background-color-mobile;
    @include transform(translateX(100%));
    &.mobile-menu {
        @include transform(translateX(0));
    }
    ul {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        li {
            width: 100%;
            text-align: center;
            font-size: 8vh;
            a {
                letter-spacing: 3px;
                font-weight: 500;
            }
        }
    }
    @include MQ(M) {
        @include transform(translateX(0));
        display: block;
        width: 220px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        height: auto;
        background: $header-background;
        ul {
            li {
                text-align: left;
                font-size: $base-font-size * 1.5;
                a {}
            }
        }
    }
}

#main {
    @include transition(.4s);
    @include display(flex);
    @include flex-direction(column);
    @include flex-grow(1);
    min-height: 100%;
    width: 100%;
    width: 100vw;
    margin-top: 62px;
    padding-bottom: 15px;
    @include MQ(M) {
        display: block;
        float: right;
        width: calc(100% - 300px);
        margin-left: 300px;
        margin-top: 0px;
    }
}

header#article-header {
    margin-bottom: 10px;
    &.article-header-with-image {
        width: 100vw;
        max-width: 100vw;
        @include MQ(M) {
            width: calc(100vw - 300px);
            max-width: calc(100vw - 300px);
            min-height: $article-header-m-plus-min-height;
        }
        float: left;
        position: relative;
        min-height: $article-header-mobile-min-height;
        margin-left: 0px;
        padding-left: 0px;
        background-size: $article-header-background-size;
        background-repeat:no-repeat;
        background-position:$article-header-background-position;
        h1,
        section {
            color: $article-headline-font-color;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    &.article-header-without-image {
        height: auto;
        width: 90%;
        max-width: $content-max-width;
        margin-right: auto;
        margin-left: auto;
    }
}

article {
    @include transition(.4s);
    display: block;
    width: 90%;
    min-height: 100%;
    position: relative;
    @include MQ(M) {
        max-width: $content-max-width;
        min-height: 100%;
        padding-right: auto;
        padding-left: auto;
    }
    margin-right: auto;
    margin-left: auto;
    img {
        @include transition(.4s);
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: auto;
        -moz-box-shadow: 2px 2px 15px #ccc;
        -webkit-box-shadow: 2px 2px 15px #ccc;
        box-shadow: 2px 2px 15px #ccc;
    }
    h2 {
        margin: 0px;
        color: lighten($base-font-color, 35%);
        margin-bottom: $base-font-size;
        font-size: $h2-font-size * .85;
        @include MQ(M) {
            font-size: $h2-font-size;
        }
    }
    h3 {
        font-size: $h3-font-size * .85;
        @include MQ(M) {
            font-size: $h3-font-size;
        }
    }
    h4 {
        font-size: $h4-font-size * .85;
        @include MQ(M) {
            font-size: $h4-font-size;
        }
    }
    p {
        color: $base-font-color;
        font-size: $base-font-size;
    }
    a {
        color: lighten($base-font-color, 15%);
        font-weight: $article-anchor-font-weight;
        color: $article-anchor-font-color;
        &:hover {
            text-decoration: underline;
        }
    }
    pre {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        @include MQ(M) {
            width: 150vw!important;
            max-width: 150vw!important;
            position: relative;
            margin-left: -25vw;
        }
        code.hljs {
            padding-left: 10%;
            overflow: auto;
            @include MQ(M) {
                padding-left: 25vw!important;
            }
        }
    }
}

aside {
    #disqus_thread {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        max-width: $content-max-width;
    }
}

.fluidvids {
    margin-top: $base-font-size;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

ul.content-list {
    li {
        a {
            &:hover {
                text-decoration: none;
                background-color: $content-list-heading-hover-background-color;
            }
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(space-around);
            @include MQ(M) {
                @include flex-direction(row);
                @include align-items(center);
                @include justify-content(space-between);
                padding-right: 2.5%;
                padding-left: 2.5%;
            }
            @include justify-content(center);
            width: 100%;
            margin-bottom:$base-font-size * .5;
            background-color: $brand-three;
            text-align:center;
            time {
                color: white;
                line-height: 1.5;
                font-size: $base-font-size * .75;
                margin-bottom: $base-font-size * .5;
                @include MQ(M) {
                    margin-bottom: 0px;
                }
            }
            h1 {
                font-size: $base-font-size;
                color: white;
                @include MQ(M) {
                    font-size: $base-font-size * 1.3;
                }
            }
        }
        p {
            padding-right: 2.5%;
            padding-left: 2.5%;
        }
    }
}

body > footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    &.search-open {
        z-index: -99;
    }
    @include MQ(M) {
        position: fixed;
        width: 220px;
        left: 40px;
        bottom: 0px;
        z-index: 10;
        &.search-open {
            z-index: -99;
        }
    }
    color: $footer-link-color;
    font-size:$base-font-size * .75;
    width: 100%;
    width: 100vw;
    height: auto;
    margin-bottom: 0px;
    padding:10px;
    background: $footer-background;
    section {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        padding: 5px;
        img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 10px;
            margin-right: 10px;
            @include filter(grayscale(100%));
        }
        ul {
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            width: 100%;
            color: $footer-link-color;
            li {
                display: inline;
                a {
                    font-size: $footer-icon-size;
                    vertical-align: middle;
                    svg {
                        @include transition(.4s);
                        fill: $footer-link-color;
                        min-height: $footer-icon-size;
                        max-height: $footer-icon-size;
                        min-width: $footer-icon-size;
                        max-width: $footer-icon-size;
                    }
                }
            }
        }
    }
}

blockquote {
    display: block;
    background: $article-blockquote-background-color;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    /*Font*/
    p {
        font-family: $blockquote-font-family;
        font-size: $base-font-size * 1.2;
        line-height: 1.2;
        color: #666;
        text-align: justify;
        @include MQ(M) {
            font-size: $base-font-size * 1.7;
        }
    }
    /*Borders - (Optional)*/
    border-left: 15px solid $accent-color;
    border-right: 2px solid $accent-color;
    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
    &::before {
        content: "\201C";
        /*Unicode for Left Double Quote*/
        /*Font*/
        font-family: Georgia, serif;
        font-size: 60px;
        font-weight: bold;
        color: #999;
        /*Positioning*/
        position: absolute;
        left: 10px;
        top: 5px;
    }
    &::after {
        /*Reset to make sure*/
        content: "";
    }
    a {
        text-decoration: none;
        background: #eee;
        cursor: pointer;
        padding: 0 3px;
        color: #c76c0c;
    }
    em {
        font-style: italic;
    }
}

.content-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    clear: both;
    bottom: 0;
    background: $article-sticky-footer-background;
    @include MQ(M) {
        position: fixed;
        height: auto;
        width: calc(100% - 300px);
        margin: 0;
    }
    .tags {
        width: 100%;
        max-width: 100%;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        margin-top: 10px;
        li {
            float: left;
        }
        @include MQ(M) {
            max-width: 50%;
            float: left;
            margin-left: 15px;
        }
    }
    .prev-and-next {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        a {
            color: $base-font-color;
        }
    }
}

// a.tag {
//     transition:none;
//     background: $base-font-color;
//     color: $article-sticky-footer-background;
//     display: inline-block;
//     height: 26px;
//     line-height: 26px;
//     padding: 0 20px 0 23px;
//     position: relative;
//     margin: 0 10px 10px 0;
//     text-decoration: none;
//     font-weight: 600;
//     &::before {
//         background: $article-sticky-footer-background;
//         border-radius: 10px;
//         box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
//         content: '';
//         height: 6px;
//         left: 10px;
//         position: absolute;
//         width: 6px;
//         top: 10px;
//     }
//     &::after {
//         background: white;
//         border-bottom: 13px solid transparent;
//         border-left: 10px solid $base-font-color;
//         border-top: 13px solid transparent;
//         content: '';
//         position: absolute;
//         right: 0;
//         top: 0;
//     }
//     &:hover {
//         background-color: $article-tag-hover-color;
//         color: white;
//         text-decoration: none;
//     }
//     &:hover::after {
//         border-left-color: $article-tag-hover-color;
//     }
// }
a.tag {
    display: inline-block;
    position: relative;
    display: block;
    height: 16px;
    width: auto;
    padding: 1.44px 5.33333px 0 8px;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    background-color: $article-tag-color;
    color: $article-sticky-footer-background;
    font-weight: 600;
    font-size: 12.8px;
    text-transform: uppercase;
    line-height: 1em;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    float: left;
    margin: 0 0 6px 16px;
    &:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $article-sticky-footer-background;
    }
    &:before {
        -webkit-transition: all .5s;
        transition: all .5s;
        content: '';
        top: 0;
        right: 100%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: $article-tag-color;
        border-width: 8px;
        -webkit-transition: border-color .5s;
        transition: border-color .5s;
        &:hover {
            background: $article-tag-hover-color;
        }
    }
}

#mobile-menu {
    padding: 10px;
    background: $header-background;
}

#mobile-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    @include MQ(M) {
        display: none;
    }
    transition: all 500ms ease-in-out;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
        transition: all 500ms ease-in-out;
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: $header-link-color;
        position: absolute;
        display: block;
        content: '';
    }
    span:before {
        top: -10px;
    }
    span:after {
        bottom: -10px;
    }
    &.menu-button-scrolled span:before,
    &.menu-button-scrolled span:after {
        background: $header-background;
    }
    &.active {
        background-color: $global-navigation-background-color-mobile;
        position: fixed;
        span {
            background-color: transparent;
            &:before,
            &:after {
                top: 0;
            }
            &:before {
                @include transform(rotate(45deg));
            }
            &:after {
                @include transform(rotate(-45deg));
            }
        }
    }
}

//Social Media Icons (embedded SVG) hover fill colors from social media sass map in _variables.scss
@each $social,
$socialcolor in $socials {
    ##{$social}-icon:hover {
        fill: $socialcolor;
    }
}
