.direction {
    display: inline;
    position: relative;
    z-index: 999;
    svg {
        min-height: 40px;
        max-height: 40px;
        min-width: 40px;
        max-width: 40px;
    }
}

@include MQ(MMAX) {
    .direction span {
        display: none;
    }
}

@include MQ(M) {
    .direction::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 12px;
        bottom: 100%;
        left: 50%;
        pointer-events: none;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .direction:hover::after {
        pointer-events: auto;
    }
    .direction-content {
        position: absolute;
        z-index: 9999;
        width: 200px;
        left: 50%;
        bottom: 100%;
        font-size: $base-font-size * 1.2;
        line-height: 1.4;
        text-align: center;
        font-weight: bold;
        color: $white;
        background: transparent;
        opacity: 0;
        margin: 0 0 30px -100px;
        cursor: pointer;
        pointer-events: none;
        font-family: $base-font-family;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: opacity 0.2s 0.2s;
        transition: opacity 0.2s 0.2s;
    }
    .direction-content:after,
    .direction-content:before {
        top: 92%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index: -1;
    }
    .direction-content::after {
        bottom: -5px;
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: $base-font-color;
        border-width: 10px;
        margin-left: -10px;
    }
    .direction-content:before {
        border-color: rgba(51, 51, 51, 0);
        border-top-color: $base-font-color;
        border-width: 28px;
        margin-left: -28px;
        margin-top: 5px;
    }
    .direction:hover .direction-content {
        opacity: 1;
        pointer-events: auto;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .direction-content span {
        display: block;
        font-family: $base-font-family;
    }
    .direction-text {
        border-bottom: 10px solid $base-font-color;
        overflow: hidden;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transition: -webkit-transform 0.2s 0.2s;
        transition: transform 0.2s 0.2s;
        font-family: $base-font-family;
    }
    .direction:hover .direction-text {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    .direction-inner {
        background: $tooltip-background-color;
        padding: 20px;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        font-family: $base-font-family;
    }
    .direction-heading,
    .direction-date {
        font-size: 14px;
        font-weight: 300;
        font-family: $base-font-family;
    }
    .direction-heading {
        border-bottom: 1px solid $white;
        border-top: 1px solid $white;
    }
    .direction:hover .direction-inner {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        font-size:18px;
    }
}
