@import 'variables';
@import 'bourbon/bourbon';
@import 'partials/animate';
@import 'partials/layout';
@import 'partials/mixins';
@import 'partials/font-face';
@import 'partials/base';
@import 'partials/images';
@import 'partials/video';
@import 'partials/site-header';
@import 'partials/top-bar';
@import 'partials/code-syntax-highlighting';
@import 'partials/fontello';
@import 'partials/list-styles';
@import 'partials/typography';
@import 'partials/social-media';
@import 'partials/share-menu';
@import 'partials/bigfoot';
@import 'partials/form';
@import 'partials/homepage-styles';
@import 'partials/404';
@import 'partials/colophon';
@import 'partials/post-specific-styles';
@import 'partials/kudos';
@import 'partials/shortcodes';
main[role="main"] {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    min-height: 100%;
    margin-bottom: 3em;
    position: relative;
    z-index: 1;
    @include header-transition;
    &.open {
        transform: translateX(-$site-menu-width);
        opacity: 0.3;
        @include MQ(M) {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

main > article {
    width: 100%;
    position: relative;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: .75em;
    overflow-y: scroll;
    overflow-x:hidden;
    position: relative;
    z-index: 9999;
    display: block;
    @include MQ(M) {
        width: $content-max-width;
    }
    header {
        margin-bottom: 1.5em;
    }
}

main > article.content a,
article.homepage a,
article#about a {
    font-size: inherit;
    color: $brand;
    transition: box-shadow ease 250ms, color ease 250ms;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 -1px 0 $brand inset;
    font-weight: inherit;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: transparent;
    &:hover {
        color: $body-background-color;
        box-shadow: 0 -1.5em 0 $brand inset;
    }
}

header.blog {
    transition: all .2s ease-in-out;
    margin-top: 1em;
    width: 110%!important;
    margin-left: -5%;
    margin-top: -10px;
    margin-bottom: 1.5em;
    padding-top: 2em;
    height: 50vh;
    filter: grayscale(100%);
    @include MQ(M) {
        height: 50vh;
        margin-top: 0px;
    }
    @include MQ(L) {
        height: 60vh;
    }
    @include MQ(retinaLandscape) {
        height: calc(100vh - 3em);
        margin-top: 0px;
    }
    &:hover {
        filter: grayscale(0%);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    .header-content.blog {
        width: 90%;
        height: auto;
        max-width: $content-max-width;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        padding: .5em;
    }
}

.site-title {
    font-size: 1.3em;
    line-height: 1.2;
    font-family: $heading-font-family;
    margin: 1.5em 0px .25em 0px;
    width: 80%;
    margin-left: 10%;
    .icon-rw-site-logo {
        margin-right: .5em;
        font-size: .5em;
    }
}

.category-and-publishdate {
    display: block;
    width: 100%;
    a.category {
        width: auto;
        box-shadow: 0 -1px 0 $white inset;
        cursor: pointer;
        color: $base-font-color;
        font-family: $heading-font-family;
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 1em;
        color: $white;
        font-size: inherit;
        color: $white;
        transition: box-shadow ease 250ms, color ease 250ms;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0 -1px 0 $white inset;
        font-weight: inherit;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: -2px;
        margin-right: .25em;
        background-color: transparent;
        font-size: 16px;
        &:hover {
            color: $white;
            box-shadow: 0 -1.5em 0 $brand inset;
        }
    }
    small {
        font-size: .6em;
        font-family: $heading-font-family;
    }
    time.publishdate {
        position: absolute;
        bottom: .5em;
        right: .5em;
        font-size: 16px;
        text-transform: uppercase;
        font-family: $heading-font-family;
    }
}

article time.publishdate {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-family: $heading-font-family;
}




