@import 'variables';
@import 'bourbon/bourbon';
@import 'partials/layout';
@import 'partials/mixins';
@import 'partials/font-face';
@import 'partials/base';
@import 'partials/images';
@import 'partials/video';
@import 'partials/site-header';
@import 'partials/top-bar';
@import 'partials/code-syntax-highlighting';
@import 'partials/fontello';
@import 'partials/list-styles';
@import 'partials/typography';
@import 'partials/social-media';
@import 'partials/share-menu';
@import 'partials/bigfoot';
@import 'partials/form';
@import 'partials/404';
main[role="main"] {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    min-height: 100%;
    flex: 1;
    z-index: 10;
    @include header-transition;
    &.open {
        transform: translateX(-$site-menu-width);
        opacity: 0.3;
        @include MQ(M) {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

main > article {
    width: 100%;
    position: relative;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: .75em;
    overflow: scroll;
    position: relative;
    z-index: 9999;
    overflow-x: hidden;
    max-width: $content-max-width;
    header {
        margin-bottom: 1.5em;
    }
}

a.category {
    width: auto;
    box-shadow: 0 -1px 0 $white inset;
    cursor: pointer;
    color: $base-font-color;
    font-family: $heading-font-family;
    font-size: .7em;
    text-transform: uppercase;
    small {
        font-size: 1em;
    }
}

header.blog {
    margin-top: 1em;
    width: 110%!important;
    margin-left: -5%;
    margin-top: 0px;
    margin-bottom: 1.5em;
    padding-top:2em;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    // background-image: linear-gradient(rgba(255, 0, 0, 0.45),rgba(255, 0, 0, 0.45));
    // filter: grayscale(100%);
    .header-content.blog {
        width: 90%;
        height:100%;
        // padding-top:2em;
        max-width: $content-max-width;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        position:relative;
        .title-and-subtitle {
            background-color:rgba(0,0,0,0.3);
            margin-left:-.5em;
            margin-right:-.5em;
            padding:.5em;
        }
        a {
            color: $white;
            font-size: inherit;
            color: $white;
            transition: box-shadow ease 250ms, color ease 250ms;
            cursor: pointer;
            text-decoration: none;
            box-shadow: 0 -1px 0 $white inset;
            font-weight: inherit;
            padding-left: 2px;
            padding-right: 2px;
            margin-left: -2px;
            margin-right: -2px;
            background-color: transparent;
            &:hover {
                color: $white;
                box-shadow: 0 -1.5em 0 $brand inset;
            }
        }
    }
    @include MQ(M) {
        height: 60vh;
    }
}

.site-title {
    font-size: 1.3em;
    line-height: 1.2;
    font-family: $heading-font-family;
    margin: 1.5em 0px .25em 0px;
    width: 80%;
    margin-left: 10%;
    .icon-rw-site-logo {
        margin-right: .5em;
        font-size: .5em;
    }
}

.category-and-publishdate {
    display:block;
    width: 100%;
    position: absolute;
    bottom:2em;
    time.publishdate {
        position: absolute;
        top: 0;
        right: 0;
        font-size: .8em;
        text-transform: uppercase;
    }
}

article time.publishdate {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
    text-transform: uppercase;
    font-family: $heading-font-family;
}

main > article.content a,
article.homepage a,
article#about a {
    font-size: inherit;
    color: $brand;
    transition: box-shadow ease 250ms, color ease 250ms;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 -1px 0 $brand inset;
    font-weight: inherit;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: transparent;
    &:hover {
        color: $body-background-color;
        box-shadow: 0 -1.5em 0 $brand inset;
    }
}

article.homepage {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

article#about {
    img {
        width: 40%;
        max-width: 150px;
        float: right;
        padding-bottom: 0px;
        margin-top: 1em;
        margin-left: .5em;
        box-shadow: 0px 0px 4px 0px rgba(51, 51, 51, 0.5);
    }
    time {
        display: none;
    }
    a {
        display: inline;
    }
}


