$S: 640px;
$M: 800px;
$L: 1000px;

$base-font-family: 'proxima-nova', 'helvetica Neue', Helvetica, sans-serif;
$heading-font-family: "baskerville-urw",Georgia,serif;
$heading-font-weight: 400;

//Sizing
$base-line-height: 1.5em;
$base-font-size: 20px;
$base-font-weight:400;

//Color Palette

$base-font-color:#333333;
$white:#ffffff;
$red:darken(red,25%);
$orange:darken(orange,5%);
$brand:darken(#01589B,10%);
$gray: lighten($base-font-color,20%);
$body-background-color:#ffffff;
$input-placeholder-text-color:lighten($base-font-color,20%);
$site-menu-background-color:$base-font-color;
$accent-color:$brand;
$dropcap-color:$accent-color;
$site-logo-color:$base-font-color;

//Anchors
$anchor-color: $base-font-color;
$anchor-weight: bold;
$anchor-transition: all .3s ease-in-out;
$anchor-default-text-decoration: none;