/***************MEDIA QUERIES*****************/
//https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
// Tablet
$M:668px;
// Desktop
$L:1025px;
// XL Screens
$XL:1200px;

$use-font-face-module:true;
$include-second-font:true;
$include-third-font:true;
$font: 'chaparralpro';
$second-font: 'futurapt';
$third-font: 'courierprime'; //code blocks

$base-font-family: $font, 'helvetica Neue', Helvetica, sans-serif;
$heading-font-family: $second-font,"futura-pt",Georgia,serif;
$code-font-family: $third-font,Courier,monospace;
$heading-font-weight: 400;
$form-input-font-family: $base-font-family;
$site-header-font-family: $heading-font-family,Arial,Helvetic,sans-serif;
$tags-font-family:$heading-font-family;

//Sizing
$base-line-height: 1.58;
$base-font-size: 24px;
$base-font-weight:400;
$site-menu-width: 180px;
$top-bar-height: 3em;
$content-max-width:30em;

//Color Palette

$base-font-color:#4d4d4d;
$h1-page-heading-font-color: #000000;
$white:#ffffff;
$red:#b30000;//rgba(179, 0, 0, 1)
$orange:darken(orange,5%);
$brand:#014a82;//rgba(1, 74, 130, 1)
$bumble:#F8C537;
$gray: lighten($base-font-color,20%);
$site-logo-color:$base-font-color;
$body-background-color:#ffffff;
$input-placeholder-text-color:lighten($base-font-color,20%);
$site-header-background-color:darken($body-background-color,1%);
$top-bar-background-color:$site-header-background-color;
$site-logo-color:$base-font-color;
$accent-color:$red;

$dropcap-font-family:$heading-font-family;
$dropcap-color:$accent-color;

$blockquote-font-family: $base-font-family;
$blockquote-border-color:$accent-color;
$blockquote-background-color:$body-background-color;
$blockquote-font-size:1.2em;
$blockquote-font-style:regular;


//Buttons
$button-submit-background-color:$accent-color;
$button-submit-text-color:$white;
$button-border-radius:0px;

//Anchors
$anchor-color: $brand;
$anchor-weight: bold;
$anchor-transition: all .3s ease-in-out;
$anchor-hover-color: $base-font-color;
$anchor-default-text-decoration: none;