/***************MEDIA QUERIES*****************/
//https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
// Tablet
$M:668px;
// Desktop
$L:1025px;
$LL: 1100px; //rarely if ever used
// XL Screens
$XL:1250px;

$use-font-face-module:true;
$include-second-font:true;
$include-third-font:true;
$font: 'chaparralpro';
$second-font: 'futurapt';
$third-font: 'courierprime'; //code blocks

$base-font-family: $font, 'helvetica Neue', Helvetica, sans-serif;
$heading-font-family: $second-font,"futura-pt",Georgia,serif;
$code-font-family: $third-font,Courier,monospace;
$heading-font-weight: 400;
$form-input-font-family: $base-font-family;
$site-header-font-family: $heading-font-family,Arial,Helvetic,sans-serif;
$tags-font-family:$heading-font-family;
$strong-and-bold-default-weight:500;

//Sizing
$base-line-height: 1.5;
$base-font-size: 22px;
$base-font-weight:400;
// $site-menu-width: calc(100% + 16px);
$site-menu-width: calc(100% + 16px);

$content-max-width:30em;

//Color Palette

$base-font-color:#333333;
$h1-page-heading-font-color: #000000;
$white:#ffffff;
$red:#b30000;//rgba(179, 0, 0, 1)
$orange:darken(orange,5%);
$brand:#014A82;

$gray: lighten($base-font-color,20%);
$site-logo-color:$base-font-color;
$body-background-color:#ffffff;
$input-placeholder-text-color:lighten($base-font-color,20%);
$site-header-background-color:darken($body-background-color,1%);
$site-header-toggle-menu-color:$white;
$site-logo-color:$white;
$accent-color:$red;

//Heading Structure - Content
$article-subtitle-text-transform: uppercase;
$article-subheading-text-transform: uppercase;
$article-subheading-font-weight: 400;
$article-subheading-font-weight: 1.1;
$article-subheading-font-color: lighten($base-font-color, 25%);

//Fake ios app colors
$bumble:#F8C537;
$bumble-her-bg-color:darken($body-background-color, 20%);
$bumble-icon-color:lighten($base-font-color, 15%);
$bumble-header-background-color:darken($body-background-color, 2%);
$bumble-timestamp-font-color: darken($bumble-her-bg-color, 15%);

$tinder: rgb(55,179,199);
$tinder-her-bg-color:lighten($bumble-her-bg-color, 10%);
$tinder-icon-color:lighten($base-font-color, 15%);
$tinder-header-background-color:$body-background-color;
$tinder-red:#E44C27;
$tinder-icon: #E44C27;
$dating-app-icon-size:3em;

//Overlay and Navigation
$blog-category-text-transform: capitalize;


$dropcap-font-family:$heading-font-family;
$dropcap-font-weight: 600;
$dropcap-color:$base-font-color;
// $dropcap-box-shadow:1px 1px 1px $base-font-color;
$dropcap-box-shadow:none;

//Top Bar
$top-bar-height: 2.2em;
$top-bar-background-color:#000000;
$top-bar-links-font-color:$white;
$top-bar-bottom-border:0px solid #f0f0f0;
$top-bar-opacity:1;

//Blockquotes

$blockquote-font-family: $base-font-family;
$blockquote-border-color: $brand;
$blockquote-background-color:$body-background-color;
$blockquote-font-size:1.1em;
$blockquote-font-style:italic;
$blockquote-font-color:lighten($base-font-color,8%);

//Assumption Boxes for Tutorials

$assumptions-header-background-color:$brand;
$assumptions-header-font-color:$white;
$assumptions-border-color:$brand;

//Share and Table of Contents
// $share-and-toc-border-color:1px solid lighten($base-font-color,65%);
$share-and-toc-border-color:none;
$share-and-toc-background-color:$white;
$toc-border-color-desktop-plus:1px solid lighten($base-font-color,65%);
$toc-header-background-color:darken($body-background-color,5%);

//Buttons
$button-submit-background-color:$accent-color;
$button-submit-text-color:$white;
$button-border-radius:0px;
$button-play-color:$accent-color;
$share-button-background-color:#000000;
$toc-toggle-button-color: #000000;
$toc-toggle-button-color-open: #000000;
$toc-toggle-button-border-radius:3px;
$share-button-font-color:$white;
$social-media-bar-and-kudos-background-color:rgba(255,255,255,0.7);

//Blog Single
$blog-header-trans-time: .4s;
$site-header-trans-time: .4s;
$body-trans-time: .4s;

//Anchors
$anchor-color: $brand;
$anchor-weight: bold;
$anchor-weight-body-copy:400;
$anchor-transition: all .3s ease-in-out;
$anchor-hover-color: $base-font-color;
$anchor-default-text-decoration: none;

//Code blocks
// $code-block-background-color:darken($base-font-color,15%);
$code-block-background-color:#272822;
$code-block-base-font-color:$white;