{{ partial "site_header.html" . }}
<main role="main">
    <article class="list">
        <div class="content-wrapper">
            <header>
                <h1 class="title">{{.Title}}</h1>
            </header>
            <div class="list-intro"><strong>
            {{ $sectionTitle := .Title }}{{ index .Site.Data.sectioninfo $sectionTitle }}
            </strong>
            </div>
            <ul class="contents-list">
                {{ range .Data.Pages }}
                <li>
                    <a href="{{ .Permalink }}">
                        <section>
                            <h1 class="title-list">{{.Title}}</h1>
                            <time class="list-publishdate" datetime="{{.PublishDate}}">{{dateFormat "Jan 2 2006" .PublishDate }}</time>
                            <p>{{ .Description | markdownify }}</p>
                        </section>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </article>
</main>
{{ partial "site_footer.html" . }}
