{{ partial "site_header.html" . }}
<main role="main">
    <article class="list">
        <div class="content-wrapper">
            <header>
                <h1 class="title">{{.Title}}</h1>
            </header>
            <ul class="contents-list">
                {{ range .Data.Pages }}
                <li>
                    <!-- <ul class="tags list">
                        {{range .Params.tags }}
                        <li class="tag list"><a href="/tags/{{.}}"></a>{{.}}</li><br>
                        {{end}}
                    </ul> -->
                    <a href="{{ .Permalink }}">
                        <section>
                            <!-- <div class="list-image" style="background-image:url(/assets/images/{{.Params.image}}">
                            </div> -->
                            <h1 class="title-list">{{.Title}}</h1>
                            <time class="list-publishdate" datetime="{{.PublishDate}}">{{dateFormat "Jan 2 2006" .PublishDate }}</time>
                            <p>{{ .Description }}</p>
                        </section>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </article>
</main>
{{ partial "site_footer.html" . }}
