{{ partial "site_header.html" . }}
<main role="main">
    {{ if .IsPage }}
        {{if ne .URL "/contact/"}}
            {{ partial "share_social_media.html" . }}
        {{ end }}
    {{ end }}
    <header class="{{.Section}}" style="background-image:url(/assets/images/{{.Params.image}});" id="{{replace .Title "." "" | urlize}}">
        <div class="header-content {{.Section}}">
                <h1 class="title {{.Section}}" >{{ .Title }}</h1>
                {{with .Params.subtitle}}
                    <span class="subtitle">{{.}}</span>
                {{end}}
            <div class="category-and-publishdate">
                <small>IN: </small>
                {{range .Params.categories}}
                <a href="/categories/{{.|urlize}}" class="category">{{.}}</a>
                {{end}}
                <time class="publishdate" datetime="{{.PublishDate}}">{{.PublishDate.Format "Jan 2, 2006"}}</time>
            </div>
        </div>
    </header>
    <article class="content {{.Section}}" id="{{.Title|urlize}}">
        {{ .Content }}
    </article>
    <ul class="tags"><span>tags:</span> {{ range .Params.tags }}
        <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
    </ul>
    {{partial "parse.html" . }}
</main>
{{ partial "site_footer.html" . }}
