{{ partial "site_header.html" . }}
<main role="main">
    <article class="content" id="{{.Title|urlize}}">
        {{ if eq .Section "blog" }}
                {{ partial "next_and_previous_links.html" . }}
            {{ end }}
        {{range .Params.categories}}
            <a href="/categories/{{.|urlize}}" class="category">{{.}}</a>
        {{end}}
        <time datetime="{{.PublishDate}}">{{.PublishDate.Format "Jan 2, 2006"}}</time>
        <header>
            <h1>{{ .Title }}</h1>
            {{with .Params.subtitle}}
            <h2>{{.}}</h2>
            {{end}}
            {{ if eq .Section "blog" }}
                {{ partial "share_social_media.html" . }}
            {{ end }}
        </header>
        {{ .Content }}
    </article>
    <ul class="tags"><span>tags:</span>
            {{ range .Params.tags }}
            <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
    </ul>
</main>
{{ partial "site_footer.html" . }}