{{ partial "site_header.html" . }}
<main role="main">
    <article class="content {{.Section}}" id="{{.Title|urlize}}">
        <header>

            <h1>{{ .Title }}</h1>
            {{with .Params.subtitle}}
            <h2>{{.}}</h2>
            {{end}}
            <div class="category-and-publishdate">
                {{range .Params.categories}}
                    <a href="/categories/{{.|urlize}}" class="category"><small>IN: </small>{{.}}</a>
                {{end}}
                <time class="publishdate" datetime="{{.PublishDate}}">{{.PublishDate.Format "Jan 2, 2006"}}</time>
            </div>
            {{ if eq .Section "blog" }}
                {{ partial "share_social_media.html" . }}
            {{ end }}
        </header>
        {{ .Content }}
    </article>
    <ul class="tags"><span>tags:</span>
            {{ range .Params.tags }}
            <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
    </ul>
</main>
{{ partial "site_footer.html" . }}