{{ partial "site_header.html" . }}
<!-- STARTER LIST PAGE for tags taxonomy. -->
<main role="main">
	<article>
	<header>
		{{ $data := .Data }}
		<h1><small>{{$data.Singular}}:</small> {{ .Title }}</h1>
	</header>
	<ul class="contents-list">
	   <!-- Sorts pages by .PublishDate, with the most recent publish first.  -->
	    {{ range sort .Data.Pages "PublishDate" "desc" }}
            <li>
              <a href="{{ .Permalink }}">
              <h3>{{.Title}}</h3>
              <time>{{ .PublishDate.Format "2006-01-02" }}</time>
              <p>{{ .Description }}</p>
              </a>
            </li>
	    {{ end }}
	</ul>
	</article>
</main>

{{ partial "site_footer.html" . }}