{{ partial "site_header.html" . }}
<!-- LIST PAGE for taxonomy. -->
<main role="main" class="main">
<div class="list-wrapper">
	<article class="list">
	<header>
		{{ $data := .Data }}
		<h1 class="title {{$data.Plural}}"><a href="/{{$data.Plural}}"><small class="taxonomy">{{$data.Singular}}:</small></a><span> {{ .Title }}</span></h1>
	</header>
	<ul class="contents-list taxonomy">
	   <!-- Sorts pages by .PublishDate, with the most recent publish first.  -->
	    {{ range .Data.Pages }}
            <li>
            	<a href="{{ .Permalink }}">
                <section>
            	<h1 class="title-list">{{.Title}}</h1>
                <time class="list-publishdate" datetime="{{.PublishDate}}">{{dateFormat "Jan 2 2006" .PublishDate }}</time>
            	<p>{{ .Description }}</p>
                </section>
            	</a>
            </li>
            {{ end }}
	</ul>
	</article>
	</div>
</main>

{{ partial "site_footer.html" . }}