<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "site_header/metadata_standard.html" . }} {{ partial "site_header/metadata_opengraph.html" . }} {{ partial "site_header/metadata_twitter.html" . }} {{ partial "site_header/metadata_prefetch.html" . }} {{ partial "site_header/metadata_favicons.html" . }}
    <!-- This partial is configured for critical render path in config.toml-->
    {{ partial "site_header/site_style.html" . }}

    <!-- include lunr.js on pageload -->
    <script src="//use.typekit.net/lfy4ghr.js"></script>
    <script>
    try {
        Typekit.load({
            async: false
        });
    } catch (e) {}
    </script>
</head>

<body>
    <div class="top-bar headroom">
        <a href="/" class="site-logo">
            <i class="icon-rw-site-logo"></i>
        </a>
        {{if eq .Section "blog"}}
            <section class="next-and-previous-links">
                {{with .PrevInSection }}
                <a href="{{.Permalink}}" class="prev-link" title="Read the previously published article, {{.Title}}"><i class="icon-previous"></i> Previous</a>
                {{end}}
                <a href="/{{.Section | urlize }}" class="section-title"><h2>{{.Section}}</h2></a>
                {{with .NextInSection }}
                <a href="{{.Permalink}}" class="next-link" title="Read the next published article, {{.Title}}."><i class="icon-next"></i> Next</a>
                {{end}}
            </section>
        {{ end }}
        <a href="#" id="site-header-toggle">&#9776;</a>
    </div>
    <header>
        {{ partial "site_header/site_navigation.html" . }}
    </header>
    {{ partial "site_header/site_search_form.html" . }}