<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "site_header/metadata_standard.html" . }} {{ partial "site_header/metadata_opengraph.html" . }} {{ partial "site_header/metadata_twitter.html" . }} {{ partial "site_header/metadata_prefetch.html" . }} {{ partial "site_header/metadata_favicons.html" . }}
    <!-- This partial is configured for critical render path in config.toml-->
    {{ partial "site_header/site_style.html" . }}
    <!-- IncludeJQ = true in config.toml if you want to include jQuery from the Google CDN -->
    {{ if .Site.Params.IncludeJQ }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {{ end }}
    <!-- include lunr.js on pageload -->
    <script src="//use.typekit.net/lfy4ghr.js"></script>
    <script>
    try {
        Typekit.load({
            async: false
        });
    } catch (e) {}
    </script>
    <script src="/assets/js/lunr.min.js"></script>
</head>

<body>
    <div class="top-bar headroom">
        {{if .IsHome }}
        <a href="#" class="site-logo">
            <i class="icon-rw-site-logo"></i>
        </a>
        {{ else }}
        <a href="/" class="site-logo">
            <i class="icon-rw-site-logo"></i>
        </a>
        {{ end }}
        <a href="#" id="site-header-toggle">&#9776;</a>
    </div>

    <header>
    {{ partial "site_header/site_navigation.html" . }}
    </header>
    {{ partial "site_header/site_search_form.html" . }}