<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "site_header/metadata_standard.html" . }}
    {{ partial "site_header/metadata_schemaorg.html" . }}
    {{ partial "site_header/metadata_opengraph.html" . }}
    {{ partial "site_header/metadata_twitter.html" . }}
    {{ partial "site_header/metadata_prefetch.html" . }}
    {{ partial "site_header/metadata_favicons.html" . }}
    <!-- site_style.html is configured for critical render path in config.toml via UseCRP-->
    {{ partial "site_header/site_style.html" . }}
    {{ partial "site_header/swiftype.html" . }}
</head>

<body {{if .IsNode }}data-swiftype-index=false {{end}}>
    {{ partial "site_header/top_bar.html" . }}
    <header class="site-header">
        {{ partial "site_header/site_navigation.html" . }}
    </header>