{{ if .IsPage }}
	<meta itemscope itemtype="http://schema.org/blogPost" />
	<meta itemprop="headline" content="{{.Title}}" />
	{{ with .Site.Params.CopyrightHolder }}
		<meta itemprop="copyrightHolder" content="{{.}}" />
	{{ end }}
	{{ with .PublishDate }}
		<meta itemprop="dateCreated" content="{{.}}">
	{{ end }}
	{{ if .Params.image }}
		<meta itemprop="image" content="{{.Site.BaseURL}}/assets/images/{{.Params.image}}" />
	{{ else }}
		<meta itemprop="image" content="{{.Site.BaseURL}}/assets/images/{{.Site.Params.DefaultSocialImage}}" />
	{{ end }}
	{{ with .Params.audience }}
		<meta itemprop="audience" content="{{.}}">
	{{ end }}
{{ end }}
<meta itemprop="description" content="{{ if .IsHome }}{{ .Site.Params.SiteDescription }}{{ else if .IsPage }}{{ .Description }}{{ else if .IsNode }}{{ index .Site.Data.sectioninfo .Title }}{{ end }}"/>