<!-- Note: global_head includes up to and including the opening <body> tag. -->
{{ partial "site_header.html" . }}
<main role="main">

    <article class="homepage">
    <div class="content-wrapper home">
        <header>
            <h1 class="title homepage">こんにちは</h1><sup class="foonote-ref homepage"><a rel="footnote" href="#fn:1">1</a></sup>
        </header>
        <div class="footnotes">
        	<hr>
        	<ol>
        		<li id="fn:1">=&nbsp;Hi.&#9786;</li>
        	</ol>
        </div>
    </article>
</main>
{{ partial "site_footer.html" . }}