<!-- NOTE: global_head includes up to and including the opening <body> tag. -->
{{ partial "site_header.html" . }}
<main role="main" class="main" id="homepage">
    {{ partial "share_social_media.html" . }}
    <article class="homepage">
        <header class="homepage-header">
            <h1 class="title homepage">IN DEVELOPMENT</h1>
        </header>
        <h2 class="recently-published">Recently Published</h2>
        <div class="homepage-content">
        {{ range first 3 (where .Site.Pages.ByPublishDate.Reverse "Type" "!=" "singletons")}}
                <a href="{{.Permalink}}" class="home-section">
                    <section>
                        <header>
                            <div class="list-header-image">
                                    <span class="section-name">{{.Section | singularize | upper}}</span>
                                <img src="/assets/images/{{.Params.image}}" alt="">
                            </div>
                            <div class="article-info">
                            <time datetime="{{.PublishDate.Format "January 2, 2006"}}">{{.PublishDate.Format "January 2, 2006"}}</time>
                            <h1 class="title home">{{.Title}}</h1>
                            <div class="description">{{.Description }}</div>
                            </div>
                        </header>
                    </section>
                </a>
        {{ end }}
        </div>
        <hr>
    </article>
</main>
{{ partial "site_footer.html" . }}