<!-- Note: global_head includes up to and including the opening <body> tag. -->
{{ partial "site_header.html" . }}
<main role="main">
    <article class="homepage">
        <header>
            <h1 class="title">Hi.</h1>
            <div class="homepage-image">
            <img src="/assets/images/me.jpg" class="homepage" alt="">
            </div>
        </header>
				<!-- <img src="/assets/images/me-square.jpg" alt="Photo of site owner, Ryan Watters" class="author"> -->
    </article>
</main>
{{ partial "site_footer.html" . }}