{{ partial "site_header.html" . }}
<main role="main" class="main" id="main">
	{{ partial "share_social_media.html" . }}

<article class="singleton">
    <div class="content-wrapper">
        <header>
        		<div class="about-image">
        			<img src="/assets/images/me.jpg" alt="" class="about-me">
        		</div>
            <h1 class="title">{{.Title}}</h1>
        </header>
        {{.Content}}
    </div>
</article>
    {{partial "parse.html" . }}
    {{partial "toc.html" . }}
</main>
{{ partial "site_footer.html" . }}
