.content-footer {
    &.search-open {
        display: none;
        .prev-and-next a svg {
            display: none;
        }
    }
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    position: relative;
    clear: both;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background: $article-sticky-footer-background;
    @include MQ(M) {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;
        height: auto;
        width: calc(100% - 250px);
        margin: 0;
        z-index: 10;
        box-shadow: 0 0 8px rgba(91, 95, 114, .5);
    }
    .tags {
        width: 100%;
        max-width: 100%;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        margin-top: 10px;
        li {
            float: left;
        }
        @include MQ(M) {
            max-width: 50%;
            float: left;
            margin-left: 15px;
        }
    }
    .prev-and-next {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        @include flex-direction(column);
        transition: all .4s ease-in-out;
        a.direction {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            @include flex-direction(row);
            @include align-items(center);
            margin-top: 5px;
            margin-bottom: 5px;
            color: #ffffff;
            background-color: $brand-three;
            svg {
                width: 35px;
                height: 35px;
                max-width: 35px;
                max-height: 35px;
                fill: #ffffff;
                vertical-align: middle;
                cursor: pointer;
                &:hover .arrow-icons {
                    fill: #ffffff;
                }
                .arrow-icons {
                    fill: #ffffff;
                }
            }
        }
        @include MQ(M) {
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            position: relative;
            width: 50%;
            text-align: right;
            margin: 5px 100px 5px 0px;
            float: right;
            a.direction {
                display: inline;
                background-color: #ffffff;
                &.next {
                    float: right;
                }
                &.previous {
                    margin-right: 50px;
                }
                svg {
                    width: 35px;
                    height: 35px;
                    max-width: 35px;
                    max-height: 35px;
                    fill: $base-font-color;
                    vertical-align: middle;
                    cursor: pointer;
                    &:hover .arrow-icons {
                        fill: #000000;
                    }
                    .arrow-icons {
                        fill: lighten($base-font-color, 15%);
                    }
                }
            }
        }
    }
}

@include MQ(MMAX) {
    a.direction {
        .direction-content {
            padding-top:10px;
            padding-bottom:10px;
            font-weight:bold;
            margin-right:auto;
            margin-left:auto;
            .direction-heading,
            .direction-date {
                width: 100%;
                text-align: center;
                font-size: .75em;
                font-weight:normal;
            }
        }
        svg {
            margin-left: 15px;
        }
    }
}

@include MQ(M) {
    .direction {
        display: inline;
        position: relative;
        z-index: 999;
    }
    .direction::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 12px;
        bottom: 100%;
        left: 50%;
        pointer-events: none;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .direction:hover::after {
        pointer-events: auto;
    }
    .direction-content {
        position: absolute;
        z-index: 9999;
        width: 200px;
        left: 50%;
        bottom: 100%;
        font-size: $base-font-size * 1.2;
        line-height: 1.4;
        text-align: center;
        font-weight: bold;
        color: $white;
        background: transparent;
        opacity: 0;
        margin: 0 0 30px -100px;
        cursor: pointer;
        pointer-events: none;
        font-family: $base-font-family;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: opacity 0.2s 0.2s;
        transition: opacity 0.2s 0.2s;
    }
    .direction-content:after,
    .direction-content:before {
        top: 92%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index: -1;
    }
    .direction-content::after {
        bottom: -5px;
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: $base-font-color;
        border-width: 10px;
        margin-left: -10px;
    }
    .direction-content:before {
        border-color: rgba(51, 51, 51, 0);
        border-top-color: $base-font-color;
        border-width: 28px;
        margin-left: -28px;
        margin-top: 5px;
    }
    .direction:hover .direction-content {
        opacity: 1;
        pointer-events: auto;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .direction-content div {
        display: block;
        font-family: $base-font-family;
    }
    .direction-text {
        border-bottom: 10px solid $base-font-color;
        overflow: hidden;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transition: -webkit-transform 0.2s 0.2s;
        transition: transform 0.2s 0.2s;
        font-family: $base-font-family;
    }
    .direction:hover .direction-text {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    .direction-inner {
        background: $article-sticky-footer-next-and-previous-title-background-color;
        padding: 20px;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        font-family: $base-font-family;
    }
    .direction-heading,
    .direction-date {
        font-size: 14px;
        font-weight: 300;
        font-family: $base-font-family;
    }
    .direction-heading {
        border-bottom: 1px solid $white;
        border-top: 1px solid $white;
    }
    .direction:hover .direction-inner {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        font-size: 18px;
    }
}
