--- 
layout: default 
---

{% if page.published != false %}
{% if page.series and page.main_image == nil %}
    {% assign main_image = page.series | slugify | append: '-icon.svg' | prepend: 'icons/' %}
    {% assign img = true %}
    {% assign header_class = "article-header-with-image"%}
{% elsif page.main_image %}
    {% assign main_image = page.main_image %}
    {% assign img = true %}
    {% assign header_class = "article-header-with-image" %}
{% else %}
    {% assign img = false %}
    {% assign header_class = "article-header-without-image" %}
{% endif %}
{% assign reading_time = content | strip_html | number_of_words | divided_by: 200 | round %}
<article>
    <header {% if img == true %}style="background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('{{site.baseurl}}/assets/images/{{main_image}}')" alt="{{page.main_image_description}}" {% endif %} class="{{ header_class }}">
        <section class="article-information">
            <h1>{{ page.title }}</h1>
            <section class="publishing-metadata">
                    {% if page.collection == 'tutorials' %}
                    <div class="series-info">{{page.series | capitalize }} Series, Part {{page.series_no}}</div>
                    {% elsif page.collection == 'articles' %}
                    <time>{{ page.publishdate | date: '%B %d, %Y' }}</time>
                    <div class="reading-time">
                        <div>{% include icons/clock-icon.svg %} {% if reading_time > 0 %}{{reading_time}}{% else %}< 1{% endif %}-minute read</div>
                    </div>
                    {% endif %}
            </section>
            <a href="/{{page.collection}}" class="breadcrumb-link">
                Back to {{page.collection | capitalize }} &#x2190;
            </a>
        </section>
    </header>
    {% if page.collection == "articles" %}
    {% assign pdfurl = page.url | remove: '/articles/' | replace: '/','.pdf' %}
    <div class="printing-buttons">
        <a href="{{Site.baseurl}}/pdfs/{{pdfurl}}" target="_blank" id="pdf-button">{% include icons/pdf-icon.svg %}</a>
        <a href="#" onclick="window.print()" id="print-button" role="button">{% include icons/printer-icon.svg %}</a>
    </div>
    {% endif %}
    {{ content }} 
</article>
    {% include contentfooter.html %}
    {% include disquscomments.html %}
{% endif %}


