--- 
layout: default 
---
<article>
    <header>
        <h1>{{ page.title }}</h1>
        <section class="publishing-metadata">
            <time>{{ page.date | date: '%B %d, %Y' }}</time>
            {% if page.tags %}
            {% assign tags = page.tags | sort %}
            <ul class="tags">
                {% for tag in tags %}
                <li><a href="{{site.baseurl}}/{{tag}}">{{tag}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </header>
    {{ content }}
    <p>{{page.next}}</p>
    {% if page.comments && site.disqus_shortname %}
        <aside>
            <div id="disqus_thread"></div>
        </aside>
        <script type="text/javascript" async>
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = '{{site.disqus_shortname}}';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
</article>

