<!DOCTYPE html>
<html>
{% include head.html %}

<body id="body">
    {% include header.html %}
    <main class="main" id="main">
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- tipue search -->
    <script src="{{site.baseurl}}/scripts/tipuesearch_content.js"></script>
    <script src="{{site.baseurl}}/scripts/tipuesearch_set.js"></script>
    <script src="{{site.baseurl}}/scripts/tipuesearch.min.js"></script>
    <!-- Main js for site interactions -->
    <script src="{{site.baseurl}}/scripts/main.js" async></script>
    <!-- highlight.js -->
    <script src="{{site.baseurl}}/scripts/highlight.pack.js"></script>
    <script async>
    hljs.initHighlightingOnLoad();
    </script>
    <script>
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
            'highlightEveryTerm':true,
            'descriptiveWords': 20,
            'debug': false
        });
    });
    </script>
</body>

</html>
