---
layout: default
---


<article>
	<h1>{{page.title}}</h1>
	<ul class="article-list">
			{% assign articles = site.articles | sort: 'date' | reverse %}
	    {% for article in articles %}
		    {% if article.url != page.url %}
		    <li>

		        <a href="{{ article.url }}"><h3>{{ article.title }}</h3></a>
		        <time>{{ article.date | date: '%B %d, %Y' }}</time>
		        {% if article.description %}
		            <p>{{ article.description }}</p>
		        {% endif %}						
		    </li>
		    {% endif %}
	    {% endfor %}    
	</ul>
</article>