---
layout: default
---

<article>
	<header>
		<h1>{{page.title}}</h1>
	</header>
	<ul class="article-list">
			{% assign articles = site.articles | sort: 'publish_date' | reverse %}
	    {% for article in articles %}
		    {% unless article.url contains "articles/index.html" %}
		    <li>

		        <a href="{{ article.url }}"><h1>{{ article.title }}</h1><time>{{ article.publish_date | date: '%B %d, %Y' }}</time></a>
		        
		        {% if article.description %}
		            <p>{{ article.description }}</p>
		        {% endif %}						
		    </li>
		    {% endunless %}
	    {% endfor %}    
	</ul>
</article>