---
layout: article
---


	<ul class="article-list">
			{% assign articles = site.articles | sort: 'date' | reverse %}
	    {% for article in articles %}
		    {% if article.url != page.url %}
		    <li>

		        <a href="{{ article.url }}"><h1>{{ article.title }}</h1></a>
		        <time>{{ article.date | date: '%B %d, %Y' }}</time>
		        {% if article.description %}
		            <p>{{ article.description }}</p>
		        {% endif %}						
		    </li>
		    {% endif %}
	    {% endfor %}    
	</ul>