---
layout: compress
alt_stylesheet: samples.css
---
<!DOCTYPE html>
<html>
{% include head.html %}
	<body id="body">

	<header class="intro-block">
	  <span class="go-home"><a href="/">&#x2190; Return to Ryansportfol.io</a></span>
		<div class="content-wrapper">
			<h1>Thanks so much for your time today, Dan, Monique, and Susan</h1>
			<a href="#0" class='btn' data-action="show-projects">{{page.button_text}}</a>
		</div>
	</header> <!-- .intro-block -->

	<main class="projects-wrapper">
		<ul class="slider">
			<li class="current">
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 1</h2>
						<p>Lorem ipsum dolor sit amet.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 2</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, dicta.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 3</h2>
						<p>Lorem ipsum dolor sit amet.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 4</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 5</h2>
						<p>Lorem ipsum dolor sit amet, consectetur.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 6</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 7</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</a>
			</li>
			
			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 8</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</a>
			</li>

			<li>
				<a href="#0">
					<img src="/assets/images/samples-bg.png" alt="project image">
					<div class="project-info">
						<h2>Project 9</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
					</div>
				</a>
			</li>
		</ul>

		<ul class="slider-navigation img-replace">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .slider-navigation -->
	</main> <!-- .projects-wrapper -->

	<section class="project-content">
		<div>
			<h2>AAP.org</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus. 
			</p>
			<p>
				Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
			</p>
			<p>
				Illum quaerat asperiores aliquam voluptate saepe omnis porro excepturi in atque veritatis sapiente ipsam voluptates iste amet deserunt ullam error pariatur, magni consectetur optio nostrum minima dolorum. Soluta animi nihil doloremque ipsa incidunt vitae architecto beatae, maxime libero, dolore corporis vero porro tenetur ipsam modi repudiandae magnam enim, quibusdam sit.
			</p>
		</div>
		<a href="#0" class="close img-replace">Close</a>
	</section>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{{site.baseurl}}/assets/scripts/samples.js"></script>

	</body>
</html>