---
layout: default
insearch: false
---

<article id="search-page">
    <form action="{{site.url}}/search.html" id="search-form">
        <input type="text" name="q" id="tipue_search_input" class="search" autocomplete="off" placeholder="Search again..." required>
    </form>
    <div id="tipue_search_content">
    </div>
</article>


<script>
    window.onload = giveSearchFocus;

    function giveSearchFocus(){
        var searchInput = document.getElementById('tipue_search_input');
        searchInput.value = "";
        searchInput.focus();
    }
</script>