---
layout: default
---

<article>
	<header>
		<h1>{{page.title}}</h1>
	</header>
	<ul class="content-list">
			{% assign tutorials = site.tutorials | sort: 'series_no' %}
	    {% for tutorial in tutorials %}
		    {% unless tutorial.url contains "tutorials/index.html" %}
		    <li>

		        <a href="{{ tutorial.url }}"><h1>{{ tutorial.title }}</h1><time>{{ tutorial.published_on | date: '%B %d, %Y' }}</time></a>
		        
		        {% if tutorial.description %}
		            <p>{{ tutorial.description }}</p>
		        {% endif %}						
		    </li>
		    {% endunless %}
	    {% endfor %}    
	</ul>
</article>