<div class="bumble-block">
	<header class="match">
		<h3 class="match-name"><i class="icon-user-woman"></i>{{.Get 0}}</h3>
	</header>
	<div class="conversation-thread">
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, omnis. Eius libero explicabo impedit ducimus voluptate quis aspernatur culpa odit repellendus quas perferendis porro maxime tempora, illum veritatis est molestias.</li>
			<li>Optio voluptas cum laudantium, quae in amet illum aperiam illo tempore, autem est? Voluptate quia, totam ea illo sequi eos exercitationem consequatur ex inventore magni aut ratione, laudantium, quidem quo.</li>
			<li>Beatae molestias temporibus consequuntur id, ipsum adipisci magnam accusantium, cupiditate nostrum ratione ut aspernatur voluptates eius incidunt hic vel error tenetur placeat, inventore tempora sit odio quasi libero odit! Libero!</li>
			<li>Unde delectus sapiente nobis obcaecati quisquam corporis magnam impedit illo iste odio eveniet commodi maiores minus, iusto sed harum in quam quidem. Voluptatum nobis magnam omnis quae! Blanditiis, veritatis, inventore.</li>
		</ul>
	</div>
</div>