<div class="bumble-block">
    <header class="bumble-header">
        <div>
            <i class="icon-leftarrow"></i>
        </div>
        <div class="match-name-and-image">
            <img class="bumble-image" src="/assets/images/{{.Get 0 | lower}}.jpg" alt="Fake bumble profile photo." />
            <span>{{.Get 0}}</span>
        </div>
        <div class="icons-right">
            <i class="icon-star"></i>
            <i class="icon-info"></i>
        </div>
    </header>
    <div class="conversation-thread  {{.Get 0 | lower}}">
   <ul>
   	<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cum quas et odio. </li>
   	<li>Voluptatem, labore! Consequuntur quisquam, doloremque possimus quia minima unde nobis distinctio? Nulla sint qui, velit nobis itaque facere maxime.</li>
   </ul>
    </div>
    <div class="response-box">
	    <div class="your-message">Your message</div>
	    <div class="bumble-footer-icons">
		    <div class="type">Aa</div>
				<div class="camera-bumble"></div>
				<div class="gif-icon"></div>
				<div class="send">Send</div>

	    </div>
    </div>
</div>
