{{ partial "site_header.html" . }}
<main role="main">
    <article>
        <header>
        <a href="/" class="back">&larr; home</a>
        <h1>{{.Title}}</h1>
        </header>
        <ul class="contents-list">
            {{ range .Data.Pages }}
            <li>
            	<a href="{{ .Permalink }}">
            	<h3>{{.Title}}</h3>
                <time class="list-publishdate" datetime="{{.PublishDate}}">{{dateFormat "Jan 2 2006" .PublishDate }}</time>
            	<p>{{ .Description }}</p>
            	</a>
            </li>
            {{ end }}
        </ul>
    </article>
</main>
{{ partial "site_footer.html" . }}
<!-- {{.PublishDate.Format "Jan 2, 2006"}} -->