{{ partial "site_header.html" . }}
<main role="main">
    <article>
        <header>
        <h1 class="title">{{.Title}}</h1>
        </header>
        <ul class="contents-list">
            {{ range .Data.Pages }}
            <li>
            	<a href="{{ .Permalink }}">
                <article>
            	<h1 class="title-list">{{.Title}}</h1>
                <time class="list-publishdate" datetime="{{.PublishDate}}">{{dateFormat "Jan 2 2006" .PublishDate }}</time>
            	<p>{{ .Description }}</p>
                </article>
            	</a>
            </li>
            {{ end }}
        </ul>
    </article>
</main>
{{ partial "site_footer.html" . }}