[{{ range $index, $page := .Site.Pages }}{{ if and (ne $page.Type "json") (ne $page.Section "singletons") }}{{ if $index }},{{ end }}
{
		"objectID": {{$index}},
    "href": "{{ $page.Permalink }}",
    "title": "{{ $page.Title }}",
    "section": "{{.Section | title}}",
    {{ with $page.Params.subtitle}}"subtitle": {{ . | plainify | jsonify }},{{ end }}
    "publishDate": {{$page.PublishDate.Unix}},
    "tags": [{{ range $tindex, $tag := $page.Params.tags }}{{ if $tindex }}, {{ end }}"{{ $tag }}"{{ end }}],
    "categories": [{{ range $cindex, $category := $page.Params.categories }}{{ if $cindex }}, {{ end }}"{{ $category }}"{{ end }}],
    "content":{{chomp $page.Content | plainify | jsonify }}
}{{ end }}{{ end }}]